.left-menu-root{
    display: inline-block;
    width: 250px;
    background: white;
    float: left;
}
.container-site-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.container-site-section .menuLink {
    outline: none;
    padding-left: 15px;
}
.text-margin-left {

}
.text-margin-left-container{
    height: 40px;
    margin-left: 15px;
    display: inline-flex;
}
.text-menu{
    margin-top: 15px;
    color: #4d95c8;
}

.menuLink {
    vertical-align: text-bottom;
    display: flex;
    height: 70px;
    align-items: center;
    font-size: 13px;
    cursor: pointer;
}
.menuLink-active {
    border-bottom: 3px solid #6CD3FF;
}
.text-menu:hover {
    color: black;
    transition: all 0.3s ease;
}

@media (max-aspect-ratio: 13/9)  and (max-height: 1201px) {
  .left-menu-root{
    display: none;

  }

}

@media (max-aspect-ratio: 13/9) and (min-height: 1201px) {
  .left-menu-root{
    display: none;
  }

}

