<div class="left-menu-root">
    <div class="container-site-section">

        <div class="menuLink" [routerLink]="['/statistics']">
            <img class="left-menu-icon" src="../../../assets/images/icons/stat.png">
            <div class="text-margin-left-container" routerLinkActive="menuLink-active">
                <span class="text-menu">Статистика</span>
            </div>

        </div>
        <div class="menuLink" [routerLink]="['/skilList']">
            <img class="left-menu-icon" src="../../../assets/images/icons/skill.png">
            <div class="text-margin-left-container" routerLinkActive="menuLink-active">
                <span class="text-menu">Знания</span>
            </div>
        </div>
        <div class="menuLink" [routerLink]="['/history']">
            <img class="left-menu-icon" src="../../../assets/images/icons/history.png">
            <div class="text-margin-left-container" routerLinkActive="menuLink-active">
                <span class="text-menu">История</span>
            </div>
        </div>

    </div>
</div>
