

<div class="studi-count">
    <div class="studi_count_number_block studi_count_book">
        <span class="studi_count_book_number">{{ArticleCount | amountOfMaterialStudiedConverter}}</span>
        <span class="studi_count_title">Статей</span>
    </div>
    <div class="studi_count_number_block studi_count_article">
        <span class="studi_count_article_number">{{VideoCount | amountOfMaterialStudiedConverter}}</span>
        <span class="studi_count_title">Видео</span>
    </div>
    <div class="studi_count_number_block studi_count_video">
        <span class="studi_count_video_number">{{BookCount | amountOfMaterialStudiedConverter}}</span>
        <span class="studi_count_title">Книг</span>
    </div>
</div>
