.continer-amount-of-material-studied {
    height: 150px;
    border: 1px solid #c4c4c4;
    border-right-width: 0px;
    border-top-width: 0;
    border-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    font-size: 16px;
}

.materail-studied {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    color: #8a8a8a;
}

.count-studed {
    border: solid 1px;
    color: #6b6b6b;
    display: inline-flex !important;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 25px;
    background: rgb(255, 255, 255);
    border-radius: 9px;
}

.addcount {
    display: inline-block;
    color: #7c7c7c;
    font-size: 16px;
}

.addcount-container {
    padding: 0px 10px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
.studi-count{
    font-size: 0;
    height: 50px;
    width: 100%;

}
.studi_count_number_block{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;;
    font-size: 12px;
    display: inline-flex;
    height: 100%;
    width: calc(100%/3);
}
.studi_count_book{
    border-bottom: 1px solid #639def;
}
.studi_count_book_number{
    font-size: 14px;
    color: #639def;
}
.studi_count_article{
    border-bottom: 1px solid #23be23;
}
.studi_count_article_number{
    font-size: 14px;
    color: #23be23;
}
.studi_count_video{
    border-bottom: 1px solid #f03ffe;
}
.studi_count_video_number{
    font-size: 14px;
    color: #fe3ffb;
}
.studi_count_title{
    color: #c9c9c9;
}

