@media (min-aspect-ratio: 13/9) {
    .leftblock {
        font-family: Geometria;
        min-height: 667px;
        height: 100%;
        width: 250px;
        position: fixed;
        background-color: white;
        border-style: solid;
        border-bottom: 0px;
        border-left: 0px;
        border-top: 0px;
        border-right-width: 1px;
        border-width: 1px;
        border-color: #bdbdbd;
        /*box-shadow: 0px 0px 12px 5px rgb(230, 230, 230);*/
        display: flex;
        justify-content: space-between;
        align-content: space-around;
        flex-direction: column;
    }
    .leftblock-mobile {
        display: none;
    }
}

/*noinspection ALL*/
@media (max-aspect-ratio: 13/9) and (max-height: 1200px) {

    .leftblock {
        display: none;
    }
    .leftblock-mobile-menu{
        padding: 0px 20px;
        align-items: center;
        display: inline-flex;
        position: fixed;
        height: 90px;
        width: 100%;
        background: #245494;
        z-index: 1002;
    }
    .block-show-menu-button{
        width: calc(100% / 3);
    }
    .block-username{
        text-align: center;
        width: calc(100% / 3);
    }
    .score-container-block{
        text-align: right;
        width: calc(100% / 3)
    }
    .show-menu-button{
        font-size: 24px;
        color: white;
    }
    .username {
        color: white;
        font-size: 20px;
    }
    .score-container {
        height: 90%;
        align-items: center;
        display: inline-flex;
        bottom: 0px;
    }
    .money-count {
        font-size: 20px;
        color: white;
    }

    .leftblock-mobile {

    }
    .popup-mobile-menu{
        position: absolute;
        height: 350px;
        width: 100%;
        background: white;
        z-index: 1001;
        transition: top 1s;
    }
    .popup-mobile-menu-show{
        position: fixed;
        top: 90px;
        transition: top 1s ;
    }
    .popup-mobile-menu-not-display{
        top: -400px;
        transition: top 1s ;
        border-bottom: 3px #245494 solid;
    }
    .stat-block{
        justify-content: space-evenly;
        display: inline-flex;
        width: 100%;
        height: 90px;
        border-top: 5px solid #d8d8d8;
        border-bottom: 5px solid #d8d8d8;
    }
    .studi_count_number_block{
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;;
        font-size: 20px;
        display: inline-flex;
        height: 100%;

    }
    .studi_count_book{

    }
    .studi_count_book_number{
        font-size: 20px;
        color: #639def;
    }
    .studi_count_article_number{
        font-size: 20px;
        color: #23be23;
    }
    .studi_count_video_number{
        font-size: 20px;
        color: #f03ffe;
    }
    .studi_count_title{
        color: #c9c9c9;
    }
    .stat-section{
        padding-top: 20px;
    }
    .menuLink {
        vertical-align: text-bottom;
        display: flex;
        height: 50px;
        align-items: center;
        font-size: 20px;
        cursor: pointer;
        padding-left: 20px;
    }
    .menuLink-active {
        background: rgb(228, 228, 228);
        color: #76a8c6;
        vertical-align: text-bottom;
        display: -webkit-box;
        display: flex;
        height: 50px;
        -webkit-box-align: center;
        align-items: center;
        font-size: 20px;
        /* background: rgb(231, 240, 245); */
        border-right: 5px solid;
    }
    .container-site-section .menuLink {
        outline: none;
    }
    .text-margin-left {
        margin-left:15px;
    }menuLink-active
    .menuLink-exit{
        margin: 30px 0px 0px 37px;
    }
    .menuLink-exit-span{
        color: #cbcbcb;
    }
}

/*noinspection ALL*/
@media (max-aspect-ratio: 13/9) and (min-height: 1201px){
    .leftblock {
        display: none;
    }
    .leftblock-mobile-menu{
        padding: 0px 40px;
        -webkit-box-align: center;
        align-items: center;
        display: -webkit-inline-box;
        display: inline-flex;
        position: fixed;
        height: 120px;
        width: 100%;
        background: #245494;
        z-index: 1002;
    }
    .block-show-menu-button{
        width: calc(100% / 3);
    }
    .block-username{
        text-align: center;
        width: calc(100% / 3);
    }
    .score-container-block{
        text-align: right;
        width: calc(100% / 3)
    }
    .show-menu-button{
        font-size: 34px;
        color: white;
    }
    .username {
        color: white;
        font-size: 30px;
    }
    .score-container {
        height: 90%;
        align-items: center;
        display: inline-flex;
        bottom: 0px;
    }
    .money-count {
        font-size: 30px;
        color: white;
    }

    .leftblock-mobile {

    }
    .popup-mobile-menu{
        position: absolute;
        height: 550px;
        width: 100%;
        background: white;
        z-index: 1001;
        transition: top 1s;
    }
    .popup-mobile-menu-show{
        position: fixed;
        top: 120px;
        transition: top 1s;
    }
    .popup-mobile-menu-not-display{
        top: -500px;
        transition: top 1s;
        border-bottom: 3px #245494 solid;
    }
    .stat-block{
        justify-content: space-evenly;
        display: -webkit-inline-box;
        display: inline-flex;
        width: 100%;
        height: 120px;
        border-top: 5px solid #d8d8d8;
        border-bottom: 5px solid #d8d8d8;
    }
    .studi_count_number_block{
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;;
        font-size: 30px;
        display: inline-flex;
        height: 100%;

    }
    .studi_count_book{

    }
    .studi_count_book_number{
        font-size: 30px;
        color: #639def;
    }
    .studi_count_article_number{
        font-size: 30px;
        color: #23be23;
    }
    .studi_count_video_number{
        font-size: 30px;
        color: #f03ffe;
    }
    .studi_count_title{
        color: #c9c9c9;
    }
    .stat-section{
        padding-top: 30px;
    }
    .menuLink {
        vertical-align: text-bottom;
        display: flex;
        height: 90px;
        align-items: center;
        font-size: 30px;
        cursor: pointer;
        padding-left: 30px;
    }
    .menuLink-active {
        background: rgb(228, 228, 228);
        color: #76a8c6;
        vertical-align: text-bottom;
        display: -webkit-box;
        display: flex;
        height: 90px;
        -webkit-box-align: center;
        align-items: center;
        font-size: 30px;
        /* background: rgb(231, 240, 245); */
        border-right: 5px solid;
    }
    .container-site-section .menuLink {
        outline: none;
    }
    .text-margin-left {
        margin-left:15px;
    }
    .menuLink-exit{
        margin: 30px 0px 0px 37px;
    }
    .menuLink-exit-span{
        color: #cbcbcb;
    }
}


.leftblock > div {
    width:100%;
    display:inline-block;
}

:host {
    display: flex;
}

