<div class="leftblock">
    <div>
        <avatar [totalPoint]="MenuModel.totalPoint" [FullName]="MenuModel.FullName" [AddCoin]="MenuModel.AddCoin"></avatar>
        <amount-of-material-studied [BookCount]="MenuModel.BookCount" [ArticleCount]="MenuModel.ArticleCount" [VideoCount]="MenuModel.VideoCount" [AddBookCount]="MenuModel.AddBookCount" [AddArticleCount]="MenuModel.AddArticleCount" [AddVideoCount]="MenuModel.AddVideoCount" ></amount-of-material-studied>
        <site-section></site-section>
    </div>
    <exit-section></exit-section>
</div>

<div class="leftblock-mobile">
    <div class="leftblock-mobile-menu" >
        <div (click)="ShowMobileUpMenu = !ShowMobileUpMenu"  class="block-show-menu-button">
            <span class="show-menu-button">
                            ≡
            </span>

        </div>
        <div class="block-username">
            <span class="username">
                   {{MenuModel.FullName}}
            </span>

        </div>
        <div class="score-container-block">
            <div class="score-container">
                <span class="money-count">{{MenuModel.totalPoint | skilPointConverter}}</span>
                <span class="money-icon-title"></span>
                <span class="money-icon-title-big"></span>
            </div>
        </div>
    </div>
    <div [ngClass]="{'popup-mobile-menu': true, 'popup-mobile-menu-show': ShowMobileUpMenu, 'popup-mobile-menu-not-display': !ShowMobileUpMenu}">
        <div class="stat-block">
            <div class="studi_count_number_block studi_count_book">
                <span class="studi_count_book_number">{{MenuModel.ArticleCount | amountOfMaterialStudiedConverter}}</span>
                <span class="studi_count_title">Статей</span>
            </div>
            <div class="studi_count_number_block studi_count_article">
                <span class="studi_count_article_number">{{MenuModel.VideoCount | amountOfMaterialStudiedConverter}}</span>
                <span class="studi_count_title">Видео</span>
            </div>
            <div class="studi_count_number_block studi_count_video">
                <span class="studi_count_video_number">{{MenuModel.BookCount | amountOfMaterialStudiedConverter}}</span>
                <span class="studi_count_title">Книг</span>
            </div>
        </div>
        <div class="stat-section">
            <div class="container-site-section">


                <div class="menuLink" routerLinkActive="menuLink-active" [routerLink]="['/statistics']">
                    <img class="left-menu-icon" src="../../../assets/images/icons/stat.png">
                    <span class="text-margin-left">Статистика</span>
                </div>
                <div class="menuLink" routerLinkActive="menuLink-active" [routerLink]="['/skilList']">
                    <img class="left-menu-icon" src="../../../assets/images/icons/skill.png">
                    <span class="text-margin-left">Знания</span>
                </div>
                <div class="menuLink" routerLinkActive="menuLink-active" [routerLink]="['/history']">
                    <img class="left-menu-icon" src="../../../assets/images/icons/history.png">
                    <span class="text-margin-left">История</span>
                </div>
                <div class="menuLink menuLink-exit">
                    <span class="menuLink-exit-span">Выйти</span>
                </div>

            </div>
        </div>
    </div>





    <div [ngClass]="{'shadow-block-show': ShowMobileUpMenu, 'shadow-block-show-not-display' : !ShowMobileUpMenu}"></div>
</div>


