
.tempalate_block{
    width: 100%;
    height: 150px;
}
.history-list-header{
    width: 100%;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.history-list-header-not-change-filter{
    background: white;
}
.history-list-header-change-filter{
    background: white;
    border-bottom: 3px solid #87f747;
    cursor: pointer;
}
.history-list-header-change-filter > span{
    color: #009688;
}
.history_list_header_title{
    color: #bebcbc;
    font-size: 14px;
    text-align: center;
}
.tempalate_block_title{
    margin-left: 10px;
    font-size: 12px;
}
.tempalate_block_title_container{
    margin-left: 10px;
    width: 100%;
    height: 50px;
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
}
.tempalate_block_select{
    padding: 10px 40px;
    height: 90px;
    width: 100%;
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    border-bottom: 1px solid #c4c4c4;
}
.money-icon{
    display: none;
}
.time_interval_select{
    height: 100%;
    width: 100%;
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: space-evenly;
    justify-content: space-between;
}
.time_interval_select_left_block{
    margin-left: 10px;
    height: 30px;
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-inline-box;
    display: inline-flex;
}
.time_interval_select_right_block{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
}
.time_interval_select_right_block_date_line{
    display: inline-flex;
    align-items: baseline;
}
.date_line_text{
    font-size: 12px;
    margin-right: -10px;
    z-index: 2;
}
.time_interval_select_input{
    color: #7092bf;
    font-size: 12px;
    display: block;
    text-align: right;
    width: 140px;
    border: 0px solid #c4c4c4;
    border-radius: 10px;
    height: 30px;
    outline: none;
    background: white;
}
.add-filter-container{
    width: 100%;
}
.add-filter-container-input{
    padding-right: 22px;
    padding-left: 10px;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}
.add_filter_option{
    border: none;
    font-size: 12px;
    width: 100%;
    height: 50px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    -moz-text-align-last: center;
    /* text-align-last: center; */
    outline: none;
    margin-left: 7px;
    background: white;
}
.tempalate_block_enter{
    font-size: 12px;
    color: #7092bf;
}

.history-list-wrapper{
    display: -webkit-inline-box;
    display: inline-flex;
    flex-wrap: nowrap;
    border: 1px solid #bdbdbd;
    border-top: 0px;
    border-bottom: 0px;
    height: 100VH;
    min-width: 250px;
    max-width: 250px;
    overflow: hidden;
    flex-direction: column;
}
.history-road{
    height: 100VH;
    width: 20px;
    background: #e8e8e8;
    border-right: 1px solid #bdbdbd;
}

.history_table_header {
    width: 100%;
    height: 50px;
    background: rgba(112, 146, 191, 1);
    position: fixed;
}
.history_table_header_element_count_container{
    height: 100%;
    margin-left: 15px;
    display: inline-flex;
    align-items: center;
}
.history_table_header_element_count_text{
    color: #FFFFFF;
    font-size: 14px;
}
.history_table_header_element_count_number{
    color: #FFFFFF;
    font-weight: bold;
    margin-left: 5px;
    font-size: 14px;
}
.history-record-skil-icon-count-block-money-number{
    color: #b863d0;
}
.history_table_card_not_empty{
    width: 100%;
    border-bottom: 1px solid #dddddd;
}
.history_table_card_not_empty_header_title_line{
    width: 100%;
    /* height: 30px; */
    text-align: center;
    padding-top: 15px;
    padding-bottom: 25px;
}
.history_table_card_not_empty_header{
    color: #9090ef;
    font-size: 13px;
}
.history-record-info-block-title-type{
    color: #b2b2b2;
}
.history-record{
    width: 100%;
    display: flex;
    height: 60px;
    margin-bottom: 20px;
}
.history_table_card_not_empty_header_money_container{
    display: inline-block;
    float: right;
}
.history_table_card_not_empty_header_money_count{
  font-size: 13px;
}
.history-record-skil-icon-count-block{
    display: inline-flex;
    font-size: 12px;
}
.history-record-type-block{
    padding-bottom: 18px;
    font-size: 12px;
    margin-left: 20px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
}
.history-record-title-block{
    padding-bottom: 18px;
    font-size: 12px;
    margin-left: 20px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
}
.history_table_card_empty{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #dddddd;
}
.history_table_card_empty_container{
    width: 100%;
    padding-left: 15px;
    height: 70px;
    display: -webkit-box;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    -webkit-box-align: center;
    font-size: 12px;
    background: #ffffff;
}
.history_table_card_empty_count{
    color: #ffc3c3;
    margin-left: 5px;
    font-weight: bold;
}
.history-record-skil-icon{
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.skil-image{
    width: 40px;
    height: 40px;
    border-radius: 5px;
}
.history-list-table-wrapper{
    overflow-x: hidden;
    overflow-y: overlay;
    height: 100%;
}
input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}
.history-card{
    width: 100%;
  /*  border-bottom: 1px solid #c8d4e3; */
    padding: 15px 0px 0px 0px;
    display: inline-flex;
}
.history-card-date-block{
    width: 180px;
    min-width: 180px;
    padding-left: 15px;
    display: inline-block;
}
.history-card-money-block{
    width: 100%;
    display: inline-flex;
    margin-top: 5px;
}
.history-card-date-block-left{
    font-size: 12px;
    display: inline-block;
}
.history-card-money-block-text{
    color: #c1c1c1;
}
.history-card-money-block-count{
    margin-left: 10px;
}
.history-card-date-block-right{
    display: inline-flex;
    flex-direction: column;
}
.history-card-date-block-skill-pic{
    height: 40px;
    width: 40px;
    display: inline-block;
}
.history-card-date-block-skill-pic-none{
    height: 40px;
    width: 40px;
    background: white;
    display: inline-block;
}
.history-card-date-block-skill{
    margin-left: 20px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    white-space: nowrap
}
.history-card--block-attached-line{
    display: inline-flex;


}
.history-card--block-attached-line > * {
    margin-right: 10px;
    border: 1px solid;
    padding: 0px 5px;
    vertical-align: baseline;
  border-radius: 15px;
}
.history-card-container{
    display: inline-flex;
    margin-bottom: 20px;
    margin-left: 10px;
    height: 40px;
}
.history-card-container:last-of-type{
    margin-bottom: 0px;
}
.history-card-date-block-left-date{
    color: #7092bf;
  white-space: nowrap;
}
.money-wrapper{
    display: inline-flex;
    align-items: flex-end;
}
.history-card-date-block-skill  span {
    font-size: 12px;
}
.history-card--block-attached-line-money-wrapper{
    display: inline-flex;
    justify-content: right;
    align-items: flex-end;
  background: #ffe29a;
}
.history-card--block-attached-line-place{
    color: #94a1dc;
}
.history-card--block-attached-line-type{
    color: #8fcb74;
}
.back-button{
    display: none;
}
.filter-place{
    display: none;
}
.history-card-date-block-wrapper{
    display: inline-flex;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 27px;
    border-left: 5px solid #4798f7;
    flex-direction: column;
}
.history-card-date-block-first-element{
    margin-left: 10px;
    font-size: 14px;
    color: black;
    display: inline-flex;
    align-items: center;
}
.history-card-date-block-first-element-title{
    margin-left: 10px;
    font-size: 14px;
    color: black;
}
.filter-place-panel{
    display: inline-flex;
    width: 100%;
    height: 65px;
    border-bottom: 1px solid #d9d9d9;
}
.history_table_card_empty_name{
    color: #d4d4d4;
}
.filter-place-process{
    display: inline-flex;
    padding-right: 30px;
    align-items: center;
    padding-left: 35px;
}
.filter-place-select{
    display: inline-flex;
    flex-direction: row;
    width: 100%;
}

@media (max-aspect-ratio: 13/9) and (max-height: 1200px){
  .filter-place-panel{
    display: none;
  }
    .skil-info{
        width: 100%;
        display: inline-block;
        height: auto;
    }
    .history-card{
        width: 100%;
        padding: 15px 0px 0px 0px;
        display: inline-flex;
        flex-direction: column;
    }
    .history-card-date-block{
      width: 100%;
      margin-bottom: 20px;
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 0px;
    }
    .history-card-date-block-left{
      font-size: 16px;
      display: inline-flex;
      flex-direction: row;
      width: 100%;
      margin: 0px 20px;
      align-items: flex-end;
    }
    .history-card-date-block-right{
        display: inline-flex;
        flex-direction: column;
        padding-left: 23px;
        padding-right: 23px;
    }
    .history-card-date-block-skill{
        margin-left: 20px;
        display: inline-flex;
        flex-direction: column;
        -webkit-box-pack: justify;
        justify-content: space-between;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .history-card-date-block-skill-pic-none{
        min-width: 50px;
    }
    .history-card-date-block-skill-pic{
        height: 50px;
        width: 50px;
    }
    .history-list-wrapper{
        position: fixed;
        background: white;
        width: 100%;
        min-width: 100%;
        top: 90px;
        height: 550px;
        z-index: 999;
        border: 0px;
        transition: top 1s;
    }
    .history-list-wrapper-not-display{
        position: fixed;
        background: white;
        width: 100%;
        min-width: 100%;
        top: calc(0px - 580px);
        height: 580px;
        z-index: 999;
        border: 0px;
        transition: top 1s;
    }
    .history-road{
        display: none;
    }
    .history_table_header_element_count_text{
        font-size: 16px;
    }
    .history_table_header_element_count_number{
        font-size: 16px;
    }
    .history_table_card_empty_container{
        font-size: 16px;
        padding-left: 23px;
    }
    .money-icon-mini{
        display: none;
    }
    .money-icon{
        display: inline-block;
    }
    .history_table_header_element_count_container{
        margin-left: 23px;
    }
    .history-card-date-block-skill span {
        font-size: 16px;
    }
    .history-card-container{
        display: inline-flex;
        margin-bottom: 20px;
        height: 50px;
        margin-left: 20px;
    }
    .history-card-container:last-of-type{
        margin-bottom: 10px;
        margin-left: 20px;
    }
    .add_filter_option{
        border: none;
        font-size: 16px;
        border-color: #c4c4c4;
        width: 100%;
        height: 50px;
        border-top: 0px;
        border-right: 0px;
        border-left: 0px;
        -moz-text-align-last: center;
        outline: none;
        margin-left: 7px;
    }
    .add-filter-container-input{
        padding-right: 22px;
        padding-left: 22px;
        width: 100%;
        display: -webkit-inline-box;
        display: inline-flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        -webkit-box-align: center;
        align-items: center;
        border-bottom: 0px solid #c4c4c4;
        border-top: 0px solid #c4c4c4;
    }
    .tempalate_block_select{
        height: 160px;
        padding: 10px 55px;
    }
    .time_interval_select{
        border-top: 0px;
        border-bottom: 0px;
    }
    .history-list-header-not-change-filter{
        background: #032858;
    }
    .back-button{
        align-items: center;
        height: 50px;
        display: inline-flex;
        background: #e3e3e3;
        border-bottom: none;
        justify-content: center;
        margin-top: 30px;
    }
    .filter-place{
        display: inline-block;
        position: absolute;
        right: 25px;
        font-size: 16px;
        color: white;
    }
    .history-card-money-block{
      display: inline-flex;
      -webkit-box-pack: center;
      justify-content: flex-end;
    }
    .tempalate_block_title{
        font-size: 16px;
    }
    .tempalate_block_title_container{
        margin-left: 22px;
    }
    .history_list_header_title{
        font-size: 16px;
    }
    .tempalate_block_enter{
        font-size: 16px;
    }
    .tempalate_block{
        height: 230px;
    }
    .time_interval_select_left_block{
        margin-left: 22px;
    }
    .date_line_text{
        font-size: 16px;
        margin-right: 10px;
    }
    .time_interval_select_input{
        font-size: 16px;
        background: white;
    }
    .history-list-table-wrapper{
        margin-top: 0px;
        overflow: hidden;
    }
    .history-card-date-block-first-element-title{
        font-size: 16px;
        margin-left: 20px;
    }
    .history-card-date-block-wrapper{
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 35px;
    }
}

@media (max-aspect-ratio: 13/9) and (min-height: 1201px){
    .history_table_header{
        height: 90px;
        position: fixed;
    }
  .filter-place-panel{
    display: none;
  }
    .skil-info{
        width: 100%;
        display: inline-block;
        height: auto;
    }
    .history-card{
        width: 100%;
        padding: 15px 0px 0px 0px;
        display: inline-flex;
        flex-direction: column;
    }
    .history-card-date-block{

        width: 100%;
        margin-bottom: 20px;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 0px;
    }
    .history-card-date-block-left{
        font-size: 24px;
        display: inline-flex;
      width: 100%;
      justify-content: space-around;
        align-items: flex-end;
        flex-direction: row;
      margin: 0px 30px;
    }
    .history-card-date-block-right{
        display: inline-flex;
        flex-direction: column;
        padding-left: 40px;
        padding-right: 40px;
    }
    .history-card-date-block-skill{
        margin-left: 40px;
        display: inline-flex;
        flex-direction: column;
        -webkit-box-pack: justify;
        justify-content: space-between;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .history-card-date-block-skill-pic-none{
        min-width: 80px;
    }
    .history-card-date-block-skill-pic{
        height: 80px;
        width: 80px;
    }
    .history-list-wrapper{
        position: fixed;
        background: white;
        width: 100%;
        min-width: 100%;
        top: 120px;
        height: 940px;
        z-index: 999;
        border: 0px;
        transition: top 1s;
    }
    .history-list-wrapper-not-display{
        position: fixed;
        background: white;
        width: 100%;
        min-width: 100%;
        top: calc(0px - 470px);
        height: 470px;
        z-index: 999;
        border: 0px;
        transition: top 1s;
    }
    .history-road{
        display: none;
    }
    .history_table_header_element_count_text{
        font-size: 24px;
    }
    .history_table_header_element_count_number{
        font-size: 24px;
    }
    .history_table_card_empty_container{
        font-size: 24px;
        padding-left: 40px;
        height: 70px;
    }
    .money-icon-mini{
        display: none;
    }
    .money-icon{
        display: inline-block;
    }
    .history_table_header_element_count_container{
        margin-left: 40px;
    }
    .history-card-date-block-skill span {
        font-size: 24px;
    }
    .history-card-container{
        display: inline-flex;
        margin-bottom: 40px;
        margin-left: 20px;
        height: 80px;
        margin-left: 40px;
    }
    .history-card-container:last-of-type{
        margin-bottom: 20px;
        margin-left: 40px;
    }
    .add_filter_option{
        border: none;
        font-size: 24px;
        border-color: #c4c4c4;
        width: 100%;
        height: 70px;
        border-top: 0px;
        border-right: 0px;
        border-left: 0px;
        -moz-text-align-last: center;
        outline: none;
        margin-left: 7px;
        background: white;
    }
    .add-filter-container-input{
        padding-right: 40px;
        padding-left: 40px;
        width: 100%;
        display: -webkit-inline-box;
        display: inline-flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        -webkit-box-align: center;
        align-items: center;
        border-bottom: 0px solid #c4c4c4;
        border-top: 0px solid #c4c4c4;
    }
    .tempalate_block_select{
        height: 270px;
        padding: 10px 55px;
    }
    .time_interval_select{
        height: 160px;
        border-top: 0px;
        border-bottom: 0px;
    }
    .history-list-header-not-change-filter{
        background: #032858;
    }
    .back-button{
        align-items: center;
        height: 70px;
        display: inline-flex;
        background: #e3e3e3;
        border-bottom: none;
        justify-content: center;
        margin-top: 50px;
    }
    .back-button > span {
        font-size: 24px;
    }
    .filter-place{
        display: inline-block;
        position: absolute;
        right: 40px;
        font-size: 24px;
        color: white;
    }
    .history-card-money-block{
      display: inline-flex;
      -webkit-box-pack: center;
      justify-content: flex-end;
    }
    .tempalate_block_title{
        font-size: 24px;
    }
    .tempalate_block_title_container{
        margin-left: 40px;
        height: 90px;
    }
    .history_list_header_title{
        font-size: 24px;
    }
    .tempalate_block_enter{
        font-size: 24px;
    }
    .tempalate_block{
        height: 380px;
    }
    .time_interval_select_left_block{
        margin-left: 40px;
    }
    .date_line_text{
        font-size: 24px;
        margin-right: 10px;
    }
    .time_interval_select_input{
        height: 80px;
        font-size: 24px;
        width: 200px;
        background: white;
    }
    .history-list-table-wrapper{
        margin-top: 0px;
        overflow: hidden;
    }
    .history-card--block-attached-line > * {
        margin-right: 15px;
    }
    .history-list-header{
        height: 70px;
    }
    .history-card-date-block-first-element-title{
        font-size: 24px;
        margin-left: 35px;
    }
    .history-card-date-block-wrapper{
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 45px;
        border-left: 5px solid #4798f7;
    }
}
