<div class="skil-card-new-wraper">

      <div class="filter-place-panel">
          <div [ngClass]="{'filter-place-process': true, 'history-list-header-not-change-filter': !FilterParamsChanged, 'history-list-header-change-filter': FilterParamsChanged }" (click)="GeneateNewQuery()">
              <span *ngIf="!FilterParamsChanged" class="history_list_header_title">Отбор</span>
              <span *ngIf="FilterParamsChanged" class="history_list_header_title">Применить фильтр</span>
          </div>
          <div class="filter-place-select">

              <div class="time_interval_select">
                  <div class="time_interval_select_right_block">
                      <div class="time_interval_select_right_block_date_line">
                          <span class="date_line_text">от</span>
                          <input (change)="FilterParamsChange()" class="time_interval_select_input" id="dateFrom" required="required" type="date" value="2014-01-01">
                      </div>
                      <div class="time_interval_select_right_block_date_line">
                          <span class="date_line_text">по</span>
                          <input (change)="FilterParamsChange()" class="time_interval_select_input" id="dateTo" required="required" type="date" value="">
                      </div>
                  </div>

              </div>


                  <div class="add-filter-container-input">
                      <img class="left-menu-icon" src="../../../assets/images/icons/skill.png">
                      <select (change)="FilterParamsChange()" id="PlaceParamInput" class="add_filter_option">
                          <option *ngFor="let c of PlaceParams" [value]="c.Id">{{c.Name}}</option>
                      </select>
                  </div>

                  <div class="add-filter-container-input">
                      <img class="left-menu-icon" src="../../../assets/images/icons/type.png">
                      <select (change)="FilterParamsChange()" id="TypeParamInput"  class="add_filter_option">
                          <option *ngFor="let c of TypeParams" [value]="c.Id">{{c.Name}}</option>
                      </select>
                  </div>

                  <div class="add-filter-container-input">
                      <img class="left-menu-icon" src="../../../assets/images/icons/source.png">
                      <select (change)="FilterParamsChange()" id="SkillParamInput" class="add_filter_option">
                          <option *ngFor="let c of SkillParams" [value]="c.Id" >{{c.Name}}</option>
                      </select>
                  </div>

                  <div class="add-filter-container-input back-button" (click)="ShowFilterPanel = !ShowFilterPanel">
                      <span>Назад</span>
                  </div>



          </div>
      </div>

        <div class="history-list-table-wrapper">

            <ng-container *ngFor="let card of History">

            <div *ngIf="card.IsDowntimeCard" class="history_table_card_empty_container">
                <span class="history_table_card_empty_name">Перерыв дней:</span>
                <span class="history_table_card_empty_count">{{card.DowntimeOfCountOfDay}}</span>
            </div>

            <div *ngIf="!card.IsDowntimeCard" class="history-card">
                <div class="history-card-date-block">
                    <div class="history-card-date-block-left">
                        <span class="history-card-date-block-left-date">{{card.DateRecord | date:'longDate'}}</span>
                        <div class="history-card-money-block">
                            <span class="history-card-money-block-text">Монет</span>
                            <div class="money-wrapper">
                                <span class="history-card-money-block-count">{{card.TotalMoney}}</span>
                                <span class="money-icon-mini"></span>
                                <span class="money-icon"></span>
                            </div>
                        </div>

                    </div>

                </div>



                <div  class="history-card-date-block-right">


                <ng-container *ngFor="let group of card.HistoryGroups">

                    <div class="history-card-date-block-first-element">
                        <img class="history-card-date-block-skill-pic" src="{{group.RowCollection[0].PathToIcon}}" />
                        <span class="history-card-date-block-first-element-title">{{group.RowCollection[0].SkillName}}</span>
                    </div>

                    <div class="history-card-date-block-wrapper">

                        <div *ngFor="let cardRow of group.RowCollection; let i = index" class="history-card-container">
                            <div  class="history-card-date-block-skill">
                                <span>{{cardRow.Title}}</span>
                                <div class="history-card--block-attached-line">
                                    <div class="history-card--block-attached-line-money-wrapper">
                                        <span>{{cardRow.MoneyCount}}</span>
                                    </div>
                                    <span class="history-card--block-attached-line-place">{{cardRow.PlaceOfStudy}}</span>
                                    <span *ngIf="cardRow.RowType === cardRow.rowType.ArticleRow" class="history-card--block-attached-line-type">Статья</span>
                                    <span *ngIf="cardRow.RowType === cardRow.rowType.VideoRow" class="history-card--block-attached-line-type">Видео</span>
                                    <span *ngIf="cardRow.RowType === cardRow.rowType.BookRow"class="history-card--block-attached-line-type">Книга</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </ng-container>

                </div>


            </div>

            </ng-container>
     </div>



</div>

<div [ngClass]="{'shadow-block-show': ShowFilterPanel, 'shadow-block-show-not-display' : !ShowFilterPanel}"></div>

