<div class="container-avator">
    <div class="username-container">
        <span class="username">{{FullName}}</span>
        <div class="score-container">
            <span class="money-count">{{totalPoint | skilPointConverter}}</span>
            <span class="money-icon-title"></span>
        </div>
    </div>
</div>
