.container-avator {
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-avator > * {
    text-align:center;
}

.avatar-foto {
    width:115px;
    height:115px;
    border-radius:50%;
    margin-top:17px;
}

.username {
    color: white;
    font-size: 14px;
}

.score {
    color: white;
    background: #ffffff;
    width: 100%;
    height: 170px;
    position: relative;
}

.score > * {

}

.money-count {
    font-size: 14px;
    color: white;
}

.username-container {
    display: inline-flex;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
    background: #245494;
    color: white;
    border: 1px solid rgba(209, 209, 209, 1);
    border-right-width: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-top: 0px;
    width: 100%;
    height: 50px;
    align-items: center;
}

.score-container {
    height: 90%;
    align-items: center;
    display: inline-flex;
    bottom: 0px;
}

.month-score-container {
    position: absolute;
    display: flex;
    width: 100%;
    font-size: 16px;
    bottom: 15px;
    padding: 0 10px;
    justify-content: flex-end;
}

.month-count-add {
    color: #7c7c7c;
}
