* {
    color: #737373;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-collapse: collapse;
    font-family: "Verdana"
}

p {
    margin: 0px;
}

body {
    background: white;
}

.money-icon {
display: none;
}
.money-icon-med {
    display: none;
}
.money-icon-title {
    background-image: url('../assets/images/moneyicon.png') !important;
    width: 21px;
    height: 20px;
    margin-left: 5px;
}

.money-icon-statistic {
    display: none;
}
.money-icon-statistic-big{
    display: none;
}
.money-icon-history{
    display: none;
}

.money-icon-mini {
    background-image: url('../assets/images/moneyiconmini.png');
    width: 12px;
    height: 12px;
    margin-left: 3px;
    margin-bottom: 2px;
}

.skil-list-card-footer-container-right-part{
    align-items: flex-end;
    display: inline-flex;
}

.text-margin-left {
    margin-left:10px;
}



.active-element {
    background: rgb(231, 240, 245);
    transition: all 0.3s ease;
}
.pre-activ-element:hover {
    background: rgb(228, 228, 228);
    transition: all 0.3s ease;
}

.menuLink-exit {
    color: white;
    padding: 0px 10px;
    vertical-align: text-bottom;
    display: flex;
    height: 48px;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
}

.menuLink-exit:hover {
    color: black;
    transition: all 0.3s ease;
}

.contentblock {
    overflow: auto;
    position: absolute;
    margin-left: 250px;
    height: 100%;
   /* background-image: repeating-linear-gradient(to right,rgb(169, 169, 169) 0%,rgb(79, 93, 113) 100%); */

}
@media (min-aspect-ratio: 13/9) {
    .main_wrapper{
        background: #e8e8e8;
        height: 100VH;
        width: 100%;
        padding: 0px 0px 0px 280px;
    }
}



.skil-list-wrapper{
    display: inline-flex;
    flex-wrap: nowrap;
    border: 1px solid #bdbdbd;
    border-top: 0px;
    border-bottom: 0px;
    height: 100VH;
    min-width: 265px;
    max-width: 265px;
    overflow: hidden;
    border-right: 0px;
}
@media (min-aspect-ratio: 13/9) {
    .skil-info-mobile{
        display: none;
    }
}
.root-place{
    display: inline-block;
    width: calc(100% - 250px);
    float: right;
}
.root-wrapper{
    display: inline-block;
    width: 100%;
    margin-top: 60px;
}

@media (max-aspect-ratio: 13/9)  and (max-height: 1201px) {
    .main_wrapper{
        background: #e8e8e8;
        width: 100%;
        padding: 90px 0px 0px 0px;
    }

  .root-place{
    width: 100%;
    background: white;
  }

    .skil-info{
        display: none;
    }
    .skil-info-mobile{
        top:100VH;
        position: fixed;
        border: solid 1px;
        overflow: hidden;
        height: calc(100VH - 470px);
        width: 100%;
        border-color: #bdbdbd;
        border-top: 0px;
        border-bottom: 0px;
        border-left: 0px;
        transition: top 1s;
    }
    .skil-info-mobile-show{
        top: 453px;
        transition: top 1s;
    }

  /*noinspection ALL*/
  .skil-list-wrapper{
        display: -webkit-inline-box;
        display: inline-flex;
        flex-wrap: nowrap;
        border: 1px solid #bdbdbd;
        border-top: 0px;
        border-bottom: 0px;
        height: 100%;
        overflow: hidden;
        width: 100%;
        max-width: 100%;
        min-width: 400px;
        border-right: 0px;
    }

    body {
        background: #e8e8e8;
    }
    .c3-legend-item {
        font-size: 16px;
    }
    .c3-axis-x text{
        font-size: 12px !important;
    }
    .shadow-block-show-not-display{
        opacity: 0;
        background-color: black;
    }
    .shadow-block-show{
        position: fixed;
        z-index: 998;
        height: 100VH;
        width: 100VW;
        opacity: 0.7;
        background-color: black;
        transition: opacity 1s ease;
        top:0px;
    }
    .money-icon-statistic{
        background-image: url('../assets/images/moneyicon.png') !important;
        width: 21px;
        height: 20px;
        margin-left: 5px;
        display: inline-block;
    }
    .money-icon-statistic-big{
        display: none;
    }
    .money-icon-med {
        background-image: url('../assets/images/moneyicon.png') !important;
        width: 21px;
        height: 20px;
        margin-left: 5px;
        display: inline-block;
    }
    .money-icon-history{
        background-image: url('../assets/images/moneyicon.png') !important;
        width: 21px;
        height: 20px;
        margin-left: 5px;
        display: inline-block;
    }
    .money-icon-title-big{
        display: none;
    }

}

@media (max-aspect-ratio: 13/9) and (min-height: 1201px){
  .root-place{
    background: white;
    width: 100%;
  }
    .main_wrapper{
        background: #e8e8e8;
        width: 100%;
        padding: 120px 0px 0px 0px;
    }
    .money-icon {
        background-image: url('../assets/images/moneyicon.png') !important;
        width: 30px;
        height: 30px;
        margin-left: 5px;
        background-size: 100% !important;
        display: inline-block !important;
    }
    .money-icon-statistic{
        display: none;
    }

    .skil-info{
        display: none;
    }
    .skil-info-mobile{
        top:100VH;
        position: fixed;
        border: solid 1px;
        overflow: hidden;
        height: calc(100VH - 470px);
        width: 100%;
        border-color: #bdbdbd;
        border-top: 0px;
        border-bottom: 0px;
        border-left: 0px;
        transition: top 1s;
    }
    .skil-info-mobile-show{
        top: 550px;
        transition: top 1s;
    }
    .skil-list-wrapper{
        display: -webkit-inline-box;
        display: inline-flex;
        flex-wrap: nowrap;
        border: 1px solid #bdbdbd;
        border-top: 0px;
        border-bottom: 0px;
        height: 100%;
        overflow: hidden;
        width: 100%;
        max-width: 100%;
        min-width: 400px;
        border-right: 0px;
    }

    body {
        background: #e8e8e8;
    }
    .c3-legend-item {
        font-size: 20px;
    }
    .c3-axis-x text{
        font-size: 20px !important;
    }
    .c3-axis-y text
    {
        fill: #8e8e8e;
        font-size: 15px !important;

    }
    .c3-chart-arc text {
        fill: #8e8e8e;;
        font-size: 10px;
    }
    .c3-legend-item {
        fill: #8e8e8e;;
        margin-top: 10px;
        font-size: 30px;
    }
    .shadow-block-show-not-display{
        opacity: 0;
        background-color: black;
    }
    .shadow-block-show{
        position: fixed;
        z-index: 998;
        height: 100VH;
        width: 100VW;
        opacity: 0.7;
        background-color: black;
        transition: opacity 1s ease;
        top:0px;
    }
    .money-icon-statistic-big{
        background-image: url('../assets/images/moneyicon.png') !important;
        width: 30px;
        height: 30px;
        margin-left: 5px;
        background-size: 100% !important;
        display: inline-block !important;
    }
    .money-icon-med {
        display: none;
    }
    .money-icon-history{
        display: none;
    }
    .money-icon-title-big{
        background-image: url('../assets/images/moneyicon.png') !important;
        width: 30px;
        height: 30px;
        margin-left: 5px;
        background-size: 100% !important;
        display: inline-block !important;
    }
    .money-icon-title {
        display: none;
    }
}

.skil-card-new-wraper{
    display: -webkit-box;
    display: inline-flex;
    flex-direction: column;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: unsafe;
    align-items: unsafe;
    height: auto;
    background: white;
    width: 100%;
    border-left: 1px solid #d9d9d9;
}
.left-menu-icon{
    height: 20px;
    width: 20px;
}

::-webkit-scrollbar-button {

    background-repeat:no-repeat;
    width:5px;
    height:0px
}



::-webkit-scrollbar-track {
    background-color: #ffffff;
    border: 1px solid #c4c4c4;
    border-right: 2px solid #b8c8de;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border: 1px solid #c4c4c4;
    border-right: 0px;
    background-color: #ededed;
    border-right: 2px solid #b8c8de;
}

::-webkit-scrollbar-thumb:hover{
    background-color:#FFFFFF;
}

::-webkit-resizer{

    background-repeat:no-repeat;
    width:4px;
    height:0px
}

::-webkit-scrollbar{
    width: 15px;
}




.c3-axis-y text
{
    fill: #8e8e8e;;
    font-size: 10px;

}
.c3-axis-x text
{
    fill: #8e8e8e;;
    font-size: 10px;

}
.c3-chart-arc text {
    fill: #8e8e8e;;
    font-size: 10px;
}
.c3-legend-item {
    fill: #8e8e8e;;
    margin-top: 10px;
}
