<upmenu>
</upmenu>

<div class="root-wrapper">
        <lightleftmenu>
        </lightleftmenu>

        <div class="root-place">
                <router-outlet></router-outlet>
        </div>
</div>



