<div class="container-site-section">


    <div class="menuLink" routerLinkActive="menuLink-active" [routerLink]="['/statistics']">
        <img class="left-menu-icon" src="../../../assets/images/icons/stat.png">
        <span class="text-margin-left">Статистика</span>
    </div>
    <div class="menuLink" routerLinkActive="menuLink-active" [routerLink]="['/skilList']">
        <img class="left-menu-icon" src="../../../assets/images/icons/skill.png">
        <span class="text-margin-left">Знания</span>
    </div>
    <div class="menuLink" routerLinkActive="menuLink-active" [routerLink]="['/history']">
        <img class="left-menu-icon" src="../../../assets/images/icons/history.png">
        <span class="text-margin-left">История</span>
    </div>

</div>

