<div class="up-menu-root">
<div class="username-container" (click)="ShowMobileUpMenu = !ShowMobileUpMenu" >
    <span class="show-menu-button">≡</span>
    <span class="username">{{MenuModel.FullName}}</span>
</div>
    <div class="stat-container">
        <div class="studi-count">
            <div class="studi_count_number_block studi_count_book">
                <span class="studi_count_book_number">{{MenuModel.ArticleCount  | amountOfMaterialStudiedConverter}}</span>
                <span class="studi_count_title">Статей</span>
            </div>
            <div class="studi_count_number_block studi_count_article">
                <span class="studi_count_article_number">{{MenuModel.VideoCount | amountOfMaterialStudiedConverter}}</span>
                <span class="studi_count_title">Видео</span>
            </div>
            <div class="studi_count_number_block studi_count_video">
                <span class="studi_count_video_number">{{MenuModel.BookCount | amountOfMaterialStudiedConverter}}</span>
                <span class="studi_count_title">Книг</span>
            </div>

        </div>
        <div class="month-count-add">
            <div class="score-container">
                <span class="money-count">{{MenuModel.totalPoint | skilPointConverter}}</span>
                <span class="money-icon-mini"></span>
              <span class="money-icon"></span>
            </div>
        </div>
    </div>
    <div></div>

</div>

<div [ngClass]="{'popup-mobile-menu': true, 'popup-mobile-menu-show': ShowMobileUpMenu, 'popup-mobile-menu-not-display': !ShowMobileUpMenu}">
 <!-- <div class="stat-block">
    <div class="studi_count_number_block studi_count_book">
      <span class="studi_count_book_number">{{MenuModel.ArticleCount | amountOfMaterialStudiedConverter}}</span>
      <span class="studi_count_title">Статей</span>
    </div>
    <div class="studi_count_number_block studi_count_article">
      <span class="studi_count_article_number">{{MenuModel.VideoCount | amountOfMaterialStudiedConverter}}</span>
      <span class="studi_count_title">Видео</span>
    </div>
    <div class="studi_count_number_block studi_count_video">
      <span class="studi_count_video_number">{{MenuModel.BookCount | amountOfMaterialStudiedConverter}}</span>
      <span class="studi_count_title">Книг</span>
    </div>
  </div>-->
  <div class="stat-section">
    <div class="container-site-section">


      <div class="menuLink" routerLinkActive="menuLink-active" [routerLink]="['/statistics']">
        <img class="left-menu-icon" src="../../../assets/images/icons/stat.png">
        <span class="text-margin-left">Статистика</span>
      </div>
      <div class="menuLink" routerLinkActive="menuLink-active" [routerLink]="['/skilList']">
        <img class="left-menu-icon" src="../../../assets/images/icons/skill.png">
        <span class="text-margin-left">Знания</span>
      </div>
      <div class="menuLink" routerLinkActive="menuLink-active" [routerLink]="['/history']">
        <img class="left-menu-icon" src="../../../assets/images/icons/history.png">
        <span class="text-margin-left">История</span>
      </div>
      <div class="menuLink menuLink-exit">
        <span class="menuLink-exit-span">Выйти</span>
      </div>

    </div>
  </div>
</div>





<div [ngClass]="{'shadow-block-show': ShowMobileUpMenu, 'shadow-block-show-not-display' : !ShowMobileUpMenu}"></div>
