.up-menu-root{
    height: 60px;
    position: fixed;
    width: 100%;
    background: white;
    border-bottom: 1px solid #d9d9d9;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: 0px 4px 20px 0px rgb(234, 234, 234);
}
.studi_count_number_block{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;;
    font-size: 12px;
    height: 100%;
    width: calc(100%/3);
}
.studi_count_book{
    border-bottom: 1px solid #639def;
}
.studi_count_book_number{
    font-size: 14px;
    color: #639def;
}
.studi_count_article{
    border-bottom: 1px solid #23be23;
}
.studi_count_article_number{
    font-size: 14px;
    color: #23be23;
}
.studi_count_video{
    border-bottom: 1px solid #f03ffe;
}
.studi_count_video_number{
    font-size: 14px;
    color: #fe3ffb;
}
.studi_count_title{
    color: #c9c9c9;
}
.studi-count{
    height: 60px;
    width: 200px;
}
.month-count-add{
    height: 30px;
    margin-top: 16px;
    border-left: 2px solid #d1d1d1;
}
.score-container {
    height: 90%;
    align-items: center;
    display: inline-flex;
    bottom: 0px;
}
.money-count {
    font-size: 14px;
    color: #6a6a6a;
    margin-left: 20px;
}
.money-icon-title {
     background-image: url('../../assets/images/moneyicon.png') !important;
     width: 21px;
     height: 20px;
     margin-left: 5px;
}
.money-icon-mini {
    background: url('../../assets/images/moneyiconmini.png') no-repeat;
    width: 12px;
    height: 12px;
    background-size: 100%;
    margin-top: 3px;
}
.stat-container{
    display: inline-flex;
}
.show-menu-button{
    font-size: 20px;
    color: #7092bf;
    cursor: pointer;
}
.username{
    color: #787878;
    margin-left: 15px;
}
.username-container{
    margin-left: 15px;
}
.container-site-section {
  margin-top: 0px;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px
}
.container-site-section .menuLink {
  outline: none;
  padding-left: 10px;
}
.popup-mobile-menu-not-display{
 display: none;
}
.popup-mobile-menu-show{
  display: none;
}
@media (max-aspect-ratio: 13/9)  and (max-height: 1201px) {
  .studi-count{

  }
  .popup-mobile-menu{
    position: absolute;
    width: 100%;
    background: white;
    z-index: 1001;
    transition: top 1s;
    padding: 10px;
    height: 220px;
    display: unset;
  }
  .popup-mobile-menu-show{
    display: unset;
    position: fixed;
    top: 60px;
    transition: top 1s ;
  }
  .popup-mobile-menu-not-display{
    top: -400px;
    transition: top 1s ;
    border-bottom: 3px #245494 solid;
  }
  .stat-container{
    position: initial;
  }
  .month-count-add{
    height: auto;
    margin-top: 0px;
    border-left: 0px solid #d1d1d1;
  }
  .username{
    display: none;
  }
  .stat-block{
    justify-content: space-evenly;
    display: inline-flex;
    width: 100%;
    height: 90px;
    border-top: 5px solid #d8d8d8;
    border-bottom: 5px solid #d8d8d8;
  }
}

@media (max-aspect-ratio: 13/9) and (min-height: 1201px) {
  .score-container{
    margin-right: 20px;
  }
  .studi-count{
    height: 108px;
  }
  .money-icon-mini{
    display: none;
  }
  .up-menu-root{
    height: 110px;
  }
  .stat-container{
    position: initial;
  }
  .month-count-add{
    height: auto;
    margin-top: 0px;
    border-left: 0px solid #d1d1d1;
  }
 .username{
   font-size: 26px;
   display: none;
 }
 .show-menu-button{
   font-size: 40px;
 }
 .username-container{
   margin-left: 30px;
 }
 .money-count{
   font-size: 26px;
 }
  .studi_count_book_number{
    font-size: 24px;
  }
  .studi_count_article_number{
    font-size: 24px;
  }
  .studi_count_video_number{
    font-size: 24px;
  }
  .studi_count_title{
    color: #c9c9c9;
  }
  .studi-count{
    height: 108px;
    width: 300px;
  }
  .studi_count_title{
    font-size: 24px;
  }
  .popup-mobile-menu{
    position: absolute;
    height: 350px;
    width: 100%;
    background: white;
    z-index: 1001;
    transition: top 1s;
    display: unset;
  }
  .popup-mobile-menu-show{
    position: fixed;
    top: 110px;
    transition: top 1s;
    display: unset;
  }
  .popup-mobile-menu-not-display{
    top: -600px;
    transition: top 1s;
    border-bottom: 3px #245494 solid;
  }
  .stat-block{
    justify-content: space-evenly;
    display: -webkit-inline-box;
    display: inline-flex;
    width: 100%;
    height: 120px;
    border-top: 5px solid #d8d8d8;
    border-bottom: 5px solid #d8d8d8;
  }
  .text-margin-left {
    font-size: 26px;
  }
  .container-site-section {
    margin-top: 0px;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px
  }
  .menuLink-exit{
    font-size: 24px;
  }
  .stat-section{
    padding: 30px;
  }
}
