.container-exit {
    background: #245494;
    height: 50px;
    border: 1px solid rgba(209, 209, 209, 1);
    border-right-width: 0px;
    border-left: 0px;
    border-bottom: 0px;
    font-size: 16px;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
}

.exit-table {
    width: 100%;
}
.exit-table-menu{
    color: white;
}
