
<div class="skill-card-place-wrapper" *ngIf="!SkillListIsOpen">
    <div (click)="SkilListCardContainerClick(card)" class="skill-card-place" *ngFor="let card of SkilCards; let cardindex = index" [id]="'skilcard' + card.Id" [ngClass]="{'skil-list-card-container-root-not-display': !card.SkillCardVisable, 'skill-card-not-display':card.SkillCardForRemove }">
        <div class="skill-card-place-header">
            <div class="skill-card-place-header-money-container">
                <span class="skil-list-card-footer-container-right-part-money-count">{{card.MoneyCount  | skilPointConverter}}</span>
                <span class="money-icon-mini"></span>
                <span class="money-icon"></span>
                <span class="money-icon-med"></span>
                <div class="add-width-10">
                </div>
            </div>
        </div>

        <div class="skill-card-place-logo">
            <img class="skil-image" src="{{card.PathToIcon}}" />
        </div>

        <div class="skill-card-place-name">
                            <span class="skil-list-card-name">
                    {{card.Title}}
                </span>
        </div>

        <div class="skil-list-card-footer-container">
            <div class="skil-list-card-footer-container-left-part">
                <div class="skil-list-card-footer-container-left-part-skil-raiting">
                    <span class="left-part-skil-raiting-name">Практика</span>
                    <div [ngClass]="{'skill-card-rating':true,
                                             'skill-card-rating-theoretical':true,
                                             'skill-card-rating-bad':card.PracticalExperience <= 2,
                                             'skill-card-rating-normal':card.PracticalExperience > 2 && card.PracticalExperience <= 4,
                                             'skill-card-rating-high':card.PracticalExperience> 4}">
                        <div *ngFor="let star of Count(card.PracticalExperience)" class="rating-star"></div>
                    </div>


                </div>
                <div class="skil-list-card-footer-container-left-part-skil-raiting">
                    <span class="left-part-skil-raiting-name">Теория</span>
                    <div [ngClass]="{'skill-card-rating':true,
                                             'skill-card-rating-practic':true,
                                             'skill-card-rating-bad':card.TheoreticalExperience <= 2,
                                             'skill-card-rating-normal':card.TheoreticalExperience > 2 && card.TheoreticalExperience <= 4,
                                             'skill-card-rating-high':card.TheoreticalExperience > 4}">
                        <div *ngFor="let star of Count(card.TheoreticalExperience)"></div>
                    </div>
                </div>
            </div>
            <div class="skil-list-card-footer-container-right-part">

            </div>
        </div>

    </div>
</div>

<div class="skill-card-place-wrapper-current" *ngIf="SkillListIsOpen" >
    <div class="skill-card-place-wrapper-current-card">
        <div (click)="SkilListCardContainerClick(CurrentSkilCardModel)" class="skill-card-place" [ngClass]="{'skil-list-card-container-root-not-display': !CurrentSkilCardModel.SkillCardVisable, 'skill-card-not-display':CurrentSkilCardModel.SkillCardForRemove }">
            <div class="skill-card-place-header">
                <div class="skill-card-place-header-money-container">
                    <span class="skil-list-card-footer-container-right-part-money-count">{{CurrentSkilCardModel.MoneyCount  | skilPointConverter}}</span>
                    <span class="money-icon-mini"></span>
                    <span class="money-icon"></span>
                    <span class="money-icon-med"></span>
                    <div class="add-width-10">
                    </div>
                </div>
            </div>

            <div class="skill-card-place-logo">
                <img class="skil-image" src="{{CurrentSkilCardModel.PathToIcon}}" />
            </div>

            <div class="skill-card-place-name">
                            <span class="skil-list-card-name">
                    {{CurrentSkilCardModel.Title}}
                </span>
            </div>

            <div class="skil-list-card-footer-container">
                <div class="skil-list-card-footer-container-left-part">
                    <div class="skil-list-card-footer-container-left-part-skil-raiting">
                        <span class="left-part-skil-raiting-name">Практика</span>
                        <div [ngClass]="{'skill-card-rating':true,
                                             'skill-card-rating-theoretical':true,
                                             'skill-card-rating-bad':CurrentSkilCardModel.PracticalExperience <= 2,
                                             'skill-card-rating-normal':CurrentSkilCardModel.PracticalExperience > 2 && CurrentSkilCardModel.PracticalExperience <= 4,
                                             'skill-card-rating-high':CurrentSkilCardModel.PracticalExperience> 4}">
                            <div *ngFor="let star of Count(CurrentSkilCardModel.PracticalExperience)" class="rating-star"></div>
                        </div>


                    </div>
                    <div class="skil-list-card-footer-container-left-part-skil-raiting">
                        <span class="left-part-skil-raiting-name">Теория</span>
                        <div [ngClass]="{'skill-card-rating':true,
                                             'skill-card-rating-practic':true,
                                             'skill-card-rating-bad':CurrentSkilCardModel.TheoreticalExperience <= 2,
                                             'skill-card-rating-normal':CurrentSkilCardModel.TheoreticalExperience > 2 && CurrentSkilCardModel.TheoreticalExperience <= 4,
                                             'skill-card-rating-high':CurrentSkilCardModel.TheoreticalExperience > 4}">
                            <div *ngFor="let star of Count(CurrentSkilCardModel.TheoreticalExperience)"></div>
                        </div>
                    </div>
                </div>
                <div class="skil-list-card-footer-container-right-part">

                </div>
            </div>

        </div>
    </div>
    <div class="skill-card-place-wrapper-current-add-count-material">
        <div class="add-count-material">
            <div class="studi_count_number_block studi_count_book">
                <span class="studi_count_book_number">{{CurrentSkilCardModel.ArticleCount  | amountOfMaterialStudiedConverter}}</span>
                <span class="studi_count_title">Статей</span>
            </div>
        </div>
        <div class="add-count-material">
            <div class="studi_count_number_block studi_count_article">
                <span class="studi_count_article_number">{{CurrentSkilCardModel.VideoCount | amountOfMaterialStudiedConverter}}</span>
                <span class="studi_count_title">Видео</span>
            </div>
        </div>
        <div class="add-count-material">
            <div class="studi_count_number_block studi_count_video">
                <span class="studi_count_video_number">{{CurrentSkilCardModel.BookCount | amountOfMaterialStudiedConverter}}</span>
                <span class="studi_count_title">Книг</span>
            </div>
        </div>
    </div>
    <div class="skill-card-place-wrapper-current-table">

        <div class="skil-list-table skil-list-table-desktop" *ngIf="SkilRows.length > 0">
            <ng-container *ngFor="let row of SkilRows, index as i">
                <div class="skil-list-table-stat-container" *ngIf="(row.RowType === row.rowType.ArticleRow && ShowArticle) || (row.RowType === row.rowType.BookRow && ShowBook) || (row.RowType === row.rowType.VideoRow && ShowVideo)">
                    <div class="skil-list-table-stat-type">
                        <span *ngIf="row.RowType === row.rowType.ArticleRow" class="history-card--block-attached-line-type">Статья</span>
                        <span *ngIf="row.RowType === row.rowType.VideoRow" class="history-card--block-attached-line-type">Видео</span>
                        <span *ngIf="row.RowType === row.rowType.BookRow"class="history-card--block-attached-line-type">Книга</span>
                    </div>
                    <div class="skil-list-table-stat-title">
                        <span>{{row.Title}}</span>
                    </div>
                    <div *ngIf="i == 0 || SkilRows[i - 1].DateStudy != row.DateStudy; else RepeatDate" class="skil-list-table-stat-date">
                            <span class="skil-list-table-date-span">
                                     {{row.DateStudy | date:'longDate' }}
                            </span>
                    </div>
                    <ng-template #RepeatDate>
                        <div class="skil-list-table-stat-repeat-date">
                        </div>
                    </ng-template>
                </div>
            </ng-container>
        </div>

    </div>


</div>

<div class="skil-list-table skil-list-table-mobile" *ngIf="SkilRows.length > 0">
  <ng-container *ngFor="let row of SkilRows, index as i">
    <div class="skil-list-table-stat-container" *ngIf="(row.RowType === row.rowType.ArticleRow && ShowArticle) || (row.RowType === row.rowType.BookRow && ShowBook) || (row.RowType === row.rowType.VideoRow && ShowVideo)">
      <div class="skil-list-table-stat-type">
        <span *ngIf="row.RowType === row.rowType.ArticleRow" class="history-card--block-attached-line-type">Статья</span>
        <span *ngIf="row.RowType === row.rowType.VideoRow" class="history-card--block-attached-line-type">Видео</span>
        <span *ngIf="row.RowType === row.rowType.BookRow"class="history-card--block-attached-line-type">Книга</span>
      </div>
      <div class="skil-list-table-stat-title">
        <span>{{row.Title}}</span>
      </div>
      <div *ngIf="i == 0 || SkilRows[i - 1].DateStudy != row.DateStudy; else RepeatDate" class="skil-list-table-stat-date">
                            <span class="skil-list-table-date-span">
                                     {{row.DateStudy | date:'longDate' }}
                            </span>
      </div>
      <ng-template #RepeatDate>
        <div class="skil-list-table-stat-repeat-date">
        </div>
      </ng-template>
    </div>
  </ng-container>
</div>



