


.skil-card-new-wraper-road{
    height: 100VH;
    min-width: 25px;
    max-width: 25px;
    background: rgb(232, 232, 232);
}

.skil-list{
    margin-left: 0;
    padding-bottom: 20px;
    overflow: auto;
    display: -webkit-inline-box;
    display: inline-flex;
    flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    border-top: 0px;
    border-bottom: 0px;
    height: 100VH;
    min-width: 265px;
    max-width: 265px;
    -webkit-transition: margin-left 1s;
    transition: margin-left 1s;
}
.skil-list-switch-view{
    margin-left: -265px;
    transition:  margin-left 1s;
}
.rating-star{

}
.skill-card-rating{
    display: inline-flex;
    align-items: center;
}
.skill-card-rating > div {
    height: 10px;
    margin-right: 2px;
    width: 10px;
    border-radius: 2px;
}
.skill-card-rating-theoretical{
    margin-left: 15px;
}
.skill-card-rating-practic{
    margin-left: 30px;
}
.skill-card-rating-bad > div {
    background: #e8a5a5;
}
.skill-card-rating-normal > div{
    background: #bac3cf;
}
.skill-card-rating-high > div{
    background: rgba(106, 198, 84, 0.64);
}
.left-part-skil-raiting-name{
    color: #aeaeae;
}

.skil-list-detail-info{
    display: inline-flex;
    padding-bottom: 20px;
    overflow: auto;
    display: -webkit-inline-box;
    display: inline-flex;
    flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    border-top: 0px;
    border-bottom: 0px;
    height: 100VH;
    min-width: 250px;
    max-width: 250px;
}



.skil-info-header{
    width: 100%;
    height: 150px;
}

.skil-info-full-info{
    padding-bottom: 200px;
    overflow: auto;
    width: 100%;
    height: 100%;
}

.skil-list-first-element{
    top: 0;
    position: sticky;
    display: inline-flex;
    background: #245494;
    min-height: 50px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
}

.skil-list-detail-info-first-element{
    height: 50px;
    min-height: 50px;
    width: 100%;
    /* padding-top: 6px; */
    border-bottom: 1px solid #c4c4c4;
}

.skil-list-detail-info-first-element-back-button{
    text-align: center;
    height: 100%;
    width: 30px;
    background: #5a708e;
    display: inline-block

}
.skil-list-detail-info-first-element-back-button-span{
    display: block;
    /* margin-top: 25px; */
    margin: 50% 0%;
    color: white;
}
.skil-list-first-element-count-skil{
    color: white;
}
.skil-list-detail-info-first-element-header{
    align-items: center;
    display: inline-flex;
    float: right;
    height: 100%;
    width: 220px;
    overflow: hidden;
    padding: 5px 20px;
    background: #245494;
}
.skil-list-detail-info-first-element-header-title{
    font-size: 12px;
    color: white;
}
.skil-image-big-logo{

}
.skil-list-first-element-totalskil-wrapper{
    width: 100%;
}

.skil-list-first-element-count-skil{
    margin-left: 5px;
    display: inline-block;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
}
.skil-image-big-logo-container{
    text-align: center;
}
.skil-image-big-logo{
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
    min-width: 100px;
    border-radius: 5px 5px 5px 5px;
}
.skil-list-detail-info-first-element-back-button-span{
    margin-top: 50%;
    /* text-align: center; */
    display: inline-block;
    font-size: 14px;
    color: #ffffff;
}
.skil-list-card-big-logo-container{
    width: 100%;
    max-height: 230px;
    min-height: 230px;
    height: 228px;
    padding: 25px 10px 25px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #c4c4c4;
    border-right: 0px;
    border-top: 0px;
    border-left: 0px;
}
.skil-list-first-element-name{
    display: inline-block;
    font-size: 13px;
    color: #ffffff;
}
.skil-info-table-header{
    display: inline-flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background: rgba(112, 146, 191, 1);
    height: 50px;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 15px;
}
.skil-list-table-wrapper{


    height: 100%;
    padding-bottom: 50px;
    font-size: 12px;
}
.skil-info-table-header-title{
    font-size: 12px;
    color: white;
}
.skil-list-big-border{
    display: inline-flex;
    border-left: solid 1px #bdbdbd;
    height: 100%;
    width: 15px;
    background: #e8e8e8;
}
.footer-big-logo{
    width: 100%;
    height: 49px;
    border: 1px solid #c4c4c4;
    border-right: 0px;
    border-top: 0px;
    border-left: 0px;
}
.history-link{
    font-size: 12px;
}
.history-foter{
    width: 100%;
    height: 50px;
    border: 1px solid #c4c4c4;
    border-right: 0px;
    border-top: 0px;
    border-left: 0px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.count-skil-part{
    height: 100%;
    width: calc(100% / 3);
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

.count-skil-part-number{
    font-size: 12px;
}
.skil-list-first-element-sort-select-wraper{
    font-size: 12px;
    color: #8a8a8a;
    margin-top: 3px;
}

.skil-list-first-element-sort-select-type{
    cursor: pointer;
    font-size: 12px;
    margin-right: 10px;
}
.skil-list-first-element-sort-select-type-active{
    color: black;
}

.skil-list-card-container{
    cursor: pointer;
    width: 100%;
    max-height: 150px;
    min-height: 150px;
    height: 150px;
    padding: 15px 10px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border: 1px solid #c4c4c4;
    border-right: 0px;
    border-top: 0px;
    border-left: 0px;
}

.skil-list-card-container:hover{
    background: rgb(231, 240, 245);
    transition: 0.5s;
}

.skil-list-card-footer-container{
    margin-top: 30px;
    font-size: 12px;
    width: 100%;
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    align-items: flex-end;
    padding: 0px 10px;
}

.skil-list-card-name-container{
    display: inline-flex;
}

.skil-list-card-name{
    font-size: 12px;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0px 5px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.skil-list-card-footer-container-left-part-skil-raiting{
    margin-top: 5px;
    display: inline-flex;
    justify-content: flex-start;
    width: 100px;
}
.skill-card-place-name{
    width: 100%;
    height: 30px;
    display: -webkit-inline-box;
    display: inline-flex;
}
.skill-card-place-logo{
    margin: 20px 0px;
    display: inline-flex;
    justify-content: center;
}










.skil-card-container {
    background: white;
    border: 1px solid #d1d1d1;
    display: inline-block;
    width: 430px;
    height: 102px;
    border-radius: 5px;
    margin: 5px;
}

.image-container {
    height: 100%;
    width: 100px;
    display: inline-block;
    float: left;
}

.skil-image {
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
    min-width: 100px;
    border-radius: 50%;
}

.star-container {
    width:100%;
    height:100%;
}

.skil-card-content {
    padding: 10px 10px 10px 15px;
    float: left;
    height: 100%;
    width: 310px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
}

.skil-name {
    font-size: 14px;
    color: #8d8d8d;
}

.skil-type-name {

}

.skil-card-wraper {
    padding: 50px 10px 0px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: unsafe;
}

.total-skil-point {

}

.total-skil-point-money {

}

.first-content {
    color: #616161;
    display: inline-block;
    font-family: "Geometria medium";
}

.status-content {
    float: right;
    width: 15px;
    display: inline-block;
    height: 100%;
}

.raiting-content {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 14px;
}

.mini-star {
    height: 11px;
    width: 12px;
}

.star-raiting {
    width: 150px;
}

.star-count {
    display: flex;
    font-family: "Geometria";
    justify-content: space-between;
    align-items: baseline;
}

.t-text {
    color: #8a8a8a;
}

.star-img {
    display: inline-flex;
    align-items: baseline;
}

.star-number {
    margin-right: 5px;
}

.skillpoint-raiting {
    align-items: center;
    color: #2395d8;
    display: inline-flex;
}

.status-content-excellent {
    color: #2395d8;
}

.status-content-good {
    color: #a6a40c;
}

.status-content-normally {
    color: #7c7c7c;
}

.status-content-excellent-row {
    border-radius: 5px;
    background: white;
}

.status-content-good-row {
    border-radius: 5px;
    background: white;
}

.status-content-normally-row {
    border-radius: 5px;
    background: white;
}
.skil-list-table{

    /* overflow-x: hidden; */
    width: 100%;
    border-left: 0px;
    border-top: 0px;
    height: 100%;
    font-size: 12px;
}
.skil-list-table-mobile{
  display: none;
}
.skil-list-table  tr {
    border-top: 10px #e8e8e8 solid;
    /* border-bottom: 1px solid #ffffff; */
    font-size: 12px;
    background: #ffffff;
}
.skil-list-table  tr:nth-child(even) {
    background: #ffffff;
}
.skil-list-table  tr > td {
    white-space: nowrap;
    height: 49px;
}
.skil-list-table  tr > td:nth-child(1) {
    width: 90px;
    text-align: center;
}
.skil-list-table  tr > td:nth-child(2) {
    max-width: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #7092bf;
}
.skil-list-table  tr > td:nth-child(4) {
    padding-left: 10px;
    padding-right: 30px;
    width: 140px;
    text-align: center;
    color: #c0c0c0;
}
.book-line {
    height: 130px;
}
.book-icon {
    display: flex;
    justify-content: center;
    height: 115px;
}
.book-icon-img{
    width: 73px;
    height: 110px;
}
.book-line-title{
    vertical-align: sub;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre-wrap !important;
    padding-top: 7px;
}
.book-line-date{
    vertical-align: baseline;
}

.skil-list-card-container-root{
    width: 100%;
    opacity: 1;
    transition: opacity 1s, top 1s;
}
.skil-list-card-container-root-fixed{
    top: 107px;
    transition: top 1s;
}

.skil-list-card-container-root-not-display{
    opacity: 0;
    transition: opacity 1s;
}

.skil-list-card-footer-container-left-part{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
}
.skil-list-card-header{
    display: inline-flex;
    width: 100%;
    height: 50px;
}




.no-element-wrapper {
    display: inline-flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.no-element-wrapper-big-logo{
    font-size: 60px;
    color: #dedede;
}
.add_filter_option{
    color: white;
    background-color: #245494;
    font-size: 12px;
    border-color: #245494;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    -moz-text-align-last: center;
    text-align-last: center;
    outline: none;
}
.add_filter_option option {
    color: white;
}


.skil-info-table-header-title-wrapper{
    height: 100%;
    display: inline-flex;
    align-items: center;
    background: #ff7f26;
    width: 165px;
    justify-content: center;
}
.skil-list-table-stat-container {
    display: inline-flex;
    height: 30px;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}
.skil-list-table-stat-container:last-of-type {
    height: 30px;
}
.skil-list-table-stat-type{
    height: 100%;
    max-width: 100px;
    min-width: 100px;
    display: inline-flex;
  justify-content: flex-start;
    align-items: center;
    background-color: white;
}
.skil-list-table-stat-title{
    text-overflow: ellipsis;
    overflow: hidden;
    height: 100%;
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    align-items: center;
  max-width: 140px;
  min-width: 140px;
    /* margin-right: 10px; */
    white-space: nowrap;
    background-color: white;
}
.skil-list-table-stat-date{
  height: 30px;
  max-width: 165px;
  min-width: 165px;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: #e1e1e1;
  color: black;
  position: absolute;
  right: 0px;
}
.skil-list-table-date-span{
    text-align: center;
    color: #9fafc4;
}
.skil-list-table-stat-repeat-date{
  position: absolute;
  right: 0px;
  height: 30px;
    max-width: 165px;
    min-width: 165px;
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: #f0f0f0;
    border-left: 2px solid #d9d9d9;
}
.history-card--block-attached-line-place{
    color: #94a1dc;
}
.history-card--block-attached-line-type{
    color: #8fcb74;
}
.skill-card-place-wrapper{
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center;
    background: white;
}
.skill-card-place{
    display: inline-flex;
    flex-direction: column;
    height: 280px;
    width: 180px;
    border: 1px solid #d9d9d9;
    border-radius: 15px;
    margin-right: 30px;
    margin-bottom: 30px;
    cursor: pointer;
}
.skill-card-place-header-money-container{
    display: inline-flex;
    background: #99D9EA;
    height: 100%;
    border-radius: 13px 0px 0px 0px;
    align-items: center;
}
.skil-list-card-footer-container-right-part-money-count{
    margin-top: -2px;
    font-size: 13px;
    color: white;
    margin-left: 10px;
}
.skill-card-place-header{
    height: 20px;
    display: inline-flex;
}
.add-width-10{
 width: 10px;
}
.skill-card-place-log{
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-flex;
    justify-content: center;
    justify-items: center
}
.skill-card-place-wrapper-current{
    margin-top: 30px;
    display: inline-flex;
    width: 100%;
    overflow: hidden;
}
.studi_count_number_block{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;;
    font-size: 12px;
    height: 100%;
    width: calc(100%/3);
}
.studi_count_book{
    border-bottom: 1px solid #639def;
}
.studi_count_book_number{
    font-size: 14px;
    color: #639def;
}
.studi_count_article{
    border-bottom: 1px solid #23be23;
}
.studi_count_article_number{
    font-size: 14px;
    color: #23be23;
}
.studi_count_video{
    border-bottom: 1px solid #f03ffe;
}
.studi_count_video_number{
    font-size: 14px;
    color: #fe3ffb;
}
.studi_count_title{
    color: #c9c9c9;
}
.skill-card-place-wrapper-current-add-count-material{
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    justify-content: space-between;
    height: 280px;
    width: 100px;
}
.add-count-material{
    height: 80px;
    width: 80px;
    border-radius: 15px;
    border: 1px solid #d9d9d9;
    display: inline-flex;
    justify-content: center;
}
.skill-card-place-wrapper-current-table{
    width: 100%;
    overflow: hidden;
  padding-left: 30px;
}

@media (max-aspect-ratio: 13/9)  and (max-height: 1200px) {
  .skill-card-place-wrapper-current-add-count-material{
    height: 320px;
    width: auto;
  }

  .skill-card-place{
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    height: 320px;
    width: 280px;
    margin-bottom: 30px;
    margin-right: 0px;
  }
  .skill-card-place-wrapper-current{
    justify-content: space-around;
  }
  .skill-card-place-wrapper-current-table{
    display: none;
  }
.skil-list-table-desktop{
  display: none;
}
.skil-list-table-mobile{
  display: inline-block;
  padding: 0px 20px;
}
  .skill-card-place-name{
    height: 60px;
  }
  .skill-card-place-wrapper{
    width: 100%;
    display: -webkit-inline-box;
    display: inline-flex;
    flex-wrap: nowrap;
    margin-top: 30px;
    -webkit-box-pack: center;
    justify-content: center;
    background: white;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  .skil-list-card-footer-container{
    margin-top: 0px;
  }
    .skil-list {
        margin-left: 0;
        padding-bottom: 20px;
        overflow: auto;
        display: -webkit-inline-box;
        display: inline-flex;
        flex-wrap: nowrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: start;
        justify-content: flex-start;
        border-top: 0px;
        border-bottom: 0px;
        height: 100%;
        min-width: 430px;
        max-width: 100%;
        width: 100%;
        -webkit-transition: margin-left 1s;
        transition: margin-left 1s;
        background: #e8e8e8;
    }
    .skil-list-table-desktop{
      display: none;
    }
    .skil-list-first-element{
        display: none;
    }
    .skil-list-card-container-root * {
        font-size: 20px;
        background: white;
    }
    .skil-image {
        min-height: 120px;
        max-width: 120px;
        max-height: 120px;
        min-width: 120px;
        border-radius: 10px 10px 10px 10px;
    }
    .skil-list-card-container{
        padding: 25px 25px;
        max-height: 280px;
        min-height: 280px;
        border-top: 15px solid #e8e8e8;
    }
    .skil-list-card-footer-container-left-part-skil-raiting{
        margin-top: 15px;
        display: inline-flex;
        justify-content: flex-start;
        width: 100px;
    }
    .skill-card-rating > div {
        height: 15px;
        margin-right: 2px;
        width: 15px;
        border-radius: 2px;
    }
    .skill-card-rating-theoretical{
        margin-left: 45px;
    }
    .skill-card-rating-practic{
      margin-left: 60px
    }
    .skil-list-card-name{
        font-size: 14px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .money-icon-mini{
        display: none;
    }
    .money-icon{
        width: 21px;
        height: 20px;
        margin-left: 5px;
    }
    .skil-list-big-border{
        display: none;
    }
    .skil-list-detail-info{
        display: none;
    }
    .skil-list-table  tr {
        font-size: 16px;
    }
    .skil-info-table-header-title{
        font-size: 16px;
    }
    .skil-list-table  tr > td:nth-child(3) {
        padding-left: 0px;
        padding-right: 10px;
    }
    .skil-list-card-header-back{
        padding-right: 53px;
        background-color: #babcbf !important;
        padding-left: 50px;
        height: 100%;
        /* width: 230px; */
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
    .skil-list-card-header-back-title{
        background: #babcbf  !important;
        color: white;
    }
    .footer-big-logo{
        justify-content: space-evenly;
        display: inline-flex;
        width: 100%;
        height: 100%;
        border: 0px;
    }
    .count-skil-part{
        height: 100%;
        width: 100%;
        display: -webkit-inline-box;
        display: inline-flex;
        -webkit-box-pack: space-evenly;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        cursor: pointer;
        /* width: 80px; */

    }
    .count-skil-part-number{
        font-size: 20px;
        margin-left: 10px;
    }
    .active-element {
        background: rgb(231, 240, 245) !important;
        transition: all 0.3s ease;
        border-bottom: 1px #245494 solid;
    }

    .active-element > span{
        background: rgb(231, 240, 245) !important;
        transition: all 0.3s ease;
    }
    .skill-card-not-display{
        display: none;
    }
    .history-card--block-attached-line-type{
        font-size: 12px;
    }
    .skil-list-table-stat-type{
        font-size: 12px;
      max-width: 80px;
      min-width: 80px;
    }
    .skil-list-table-date-span{
        font-size: 12px;
    }
    .skil-list-table-stat-title{
        font-size: 12px;
      max-width: none;
      min-width: none;
    }
}



@media (max-aspect-ratio: 13/9)  and (min-height: 1201px) {
  .skill-card-place-header{
    height: 50px;
  }
  .left-part-skil-raiting-name{
    font-size: 24px;
  }
  .skil-list-card-footer-container-right-part-money-count{
    font-size: 26px;
  }
  .skill-card-place{
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    height: 600px;
    width: 500px;
    margin-bottom: 30px;
    margin-right: 0px;
  }
  .skill-card-place-wrapper-current-add-count-material{
    height: 600px;
    width: auto;
  }
  .skill-card-place-wrapper-current-table{
    display: none;
  }
  .skill-card-place-wrapper-current{
    justify-content: space-around;
    margin-top: 100px;
  }
  .skil-list-table-desktop{
    display: none;
  }
  .skil-list-table-mobile{
    display: inline-block;
    margin-top: 50px;
    padding: 0px 30px;
  }
  .skill-card-place-name{
    height: 150px;
  }
  .skill-card-place-wrapper{
    width: 100%;
    display: -webkit-inline-box;
    display: inline-flex;
    flex-wrap: nowrap;
    margin-top: 100px;
    -webkit-box-pack: center;
    justify-content: center;
    background: white;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  .skil-list-card-footer-container{
    margin-top: 0px;
    padding: 0px 30px;
  }
    .skil-list {
        margin-left: 0;
        padding-bottom: 20px;
        overflow: auto;
        display: -webkit-inline-box;
        display: inline-flex;
        flex-wrap: nowrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: start;
        justify-content: flex-start;
        border-top: 0px;
        border-bottom: 0px;
        height: 100%;
        min-width: 430px;
        max-width: 100%;
        width: 100%;
        -webkit-transition: margin-left 1s;
        transition: margin-left 1s;
        background: #e8e8e8;
    }
    .skil-list-first-element{
        display: none;
    }
    .skil-list-card-container-root * {
        font-size: 30px;
        background: white;
    }
    .skil-image {
        min-height: 240px;
        max-width:  240px;
        max-height:  240px;
        min-width:  240px;
        border-radius: 10px 10px 10px 10px;
    }
    .skil-list-card-container{
        padding: 40px 40px;
        max-height: 350px;
        min-height: 350px;
        border-top: 15px solid #e8e8e8;
    }
    .skil-list-card-footer-container-left-part-skil-raiting{
        margin-top: 15px;
        display: inline-flex;
        justify-content: flex-start;
        width: 100px;
    }
    .skill-card-rating > div {
        height: 20px;
        margin-right: 6px;
        width: 20px;
        border-radius: 2px;
    }
    .skill-card-rating-theoretical{
        margin-left: 38px;
    }
    .skill-card-rating-practic{
        margin-left: 68px;
    }
    .skil-list-card-name{
        font-size: 30px;
        margin-left: 50px;
        margin-right: 50px;
    }
    .money-icon-mini{
        display: none;
    }



    .skil-list-big-border{
        display: none;
    }
    .skil-list-detail-info{
        display: none;
    }
    .skil-list-table  tr {
        font-size: 26px;
    }
    .skil-info-table-header-title{
        font-size: 26px;
    }
    .skil-list-table  tr > td:nth-child(3) {
        padding-left: 0px;
        padding-right: 10px;
    }
    .skil-list-card-header-back{
        padding-right: 53px;
        background-color: #babcbf !important;
        padding-left: 50px;
        height: 100%;
        /* width: 230px; */
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
    .skil-list-card-header-back-title{
        background: #babcbf  !important;
        color: white;
    }
    .footer-big-logo{
        justify-content: space-evenly;
        display: inline-flex;
        width: 100%;
        height: 100%;
        border: 0px;
    }
    .count-skil-part{
        height: 100%;
        width: 100%;
        display: -webkit-inline-box;
        display: inline-flex;
        -webkit-box-pack: space-evenly;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        cursor: pointer;
        /* width: 80px; */

    }
    .count-skil-part-number{
        font-size: 30px;
        margin-left: 10px;
    }
    .active-element {
        background: rgb(231, 240, 245) !important;
        transition: all 0.3s ease;
        border-bottom: 1px #245494 solid;
    }

    .active-element > span{
        background: rgb(231, 240, 245) !important;
        transition: all 0.3s ease;
    }
    .skill-card-not-display{
        display: none;
    }
    .skil-list-card-container-root-fixed{
        top: 135px;
    }
    .history-card--block-attached-line-type{
        font-size: 26px;
    }
    .skil-list-table-stat-type{
        font-size: 26px;
        min-width: 170px;
        max-width: 170px;
    }
    .skil-list-table-date-span{

        font-size: 26px;
    }
    .skil-list-table-stat-title{
        font-size: 26px;
        margin-left: -2px;
      max-width: none;
      min-width: none;

    }
    .skil-list-table-stat-container {
      display: inline-flex;
      height: 80px;
      width: 100%;
      -webkit-box-pack: justify;
      justify-content: flex-start;
      -webkit-box-align: center;
      align-items: center;
    }
    .skil-list-table-stat-container:last-of-type {
        border-bottom: 10px solid #e8e8e8;
        height: 90px;
    }
    .skil-list-table-stat-date {
      max-width: 280px;
      min-width: 280px;
      position: absolute;
      right: 0px;
      height: 80px;
    }
    .skil-info-table-header{
        height: 80px;
    }
    .skil-info-table-header-title-wrapper{
        width: 280px;
    }
    .skil-list-table-stat-repeat-date{
        max-width: 280px;
        min-width: 280px;
      height: 80px;
    }
    .studi_count_number_block{
      font-size: 28px;
    }
  .studi_count_book_number{
    font-size: 28px;
  }
  .studi_count_article_number{
    font-size: 28px;
  }
  .studi_count_video_number{
    font-size: 28px;
  }
  .add-count-material{
    height: 160px;
    width: 160px;
  }
  .studi_count_book{
    border-bottom: 5px solid #639def;
  }
  .studi_count_article{
    border-bottom: 5px solid #23be23;
  }
  .studi_count_video{
    border-bottom: 5px solid #f03ffe;
  }

}
