.skil-card-new-wraper{
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: unsafe;
    align-items: unsafe;
    height: auto;
    background: white;
}
.skil-info{
    width: calc(100% - 265px);
    border-color: #bdbdbd;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
}
.skil-list{
    margin-left: 0;
    padding-top: 30px;
    /* margin-right: 10px; */
    padding-right: 20px;
    display: -webkit-inline-box;
    display: inline-flex;
    flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    border-top: 0px;
    border-bottom: 0px;
    min-width: 265px;
    max-width: 265px;
    -webkit-transition: margin-left 1s;
    transition: margin-left 1s;
    border-right: 1px solid #d9d9d9;
}
.statistic-list-first-element{
    top: 0;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
    background: #245494;
    min-height: 50px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #c4c4c4;
}
.skil-list-first-element-totalskil-wrapper{

}
.statistic-list-first-element-name{
    display: inline-block;
    font-size: 14px;
    color: #ffffff;
}
.no-element-wrapper-big-logo{
    font-size: 60px;
    color: #dedede
}
.no-element-wrapper{
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
}
.skil-list-first-element-count-skil{
    font-size: 14px;
    color: white;
    font-weight: bold;
}
.skil-list-first-element-sort-select-wraper{
    font-size: 12px;
    color: #8a8a8a;


}
.skil-list-card-container-root{
    width: 100%;
}
.skil-list-card-container{
    cursor: pointer;
    width: 100%;
    /* max-height: 50px; */
    /* min-height: 50px; */
    min-height: 40px;
    /* padding: 5px 10px; */
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.skil-list-card-container:hover{
    background: rgb(231, 240, 245);
    transition: 0.5s;
}
.skil-list-card-name-container{
    display: inline-flex;
}
.statistic-table-header-title{
    font-weight: bold;
    font-size: 13px;
    color: steelblue;
}
.statistic-table-days-stat{
    width: 100%;
    height: 120px;
    border-bottom: 1px solid black;
}
.statistic-table-chart-place{
    padding: 10px 10px 10px 0px;
    height: 500px;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
}
.statistic-table-chart-point-place{
    height: 50%;
    width: 100%;
}
.daysChart{
    height: 50%;
    /* width: 100%; */
    width: 70%;
}
#totalPointChart{
    display: inline-block;
    height: 100%;
    width: 70%;
}
#typePointChart{
    display: inline-block;
    height: 100%;
    width: 30%;
    margin-top: 10px;
}

.statistic-table-header-total-point{
    display: inline-flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
    /* position: absolute; */
    right: 0px;
    padding-right: 15px;
}
.statistic-table-header-total-point-full{
    height: 100%;
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    justify-content: space-evenly
}
.statistic-table-header-total-point-full-right{
    height: 100%;
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    justify-content: space-evenly;
    margin-left: 50px;
    -webkit-box-align: end;
    align-items: flex-end;
}
.statistic-card-active-current{
  /*  background: rgb(231, 240, 245);  */
}
.table-total-state{
    width: 100%;
    height: 50px;
    display: inline-flex;
    justify-content: space-between;
    padding-right: 10px;
}
.table-total-state-details{
    width: 100%;
    height: 50%;
    display: inline-flex;
    justify-content: space-between;
}
.table-total-state-details-title{
    padding: 0px 15px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.table-total-state-details-title-block {
    font-size: 12px;
    color: #7ab2e0;
}
.table-total-state-details-title-green-state{
    border-left: 0px solid #9dd904;
}
.table-total-state-details-title-red-state{
    border-left: 0px solid #ff8989;
}
.table-total-state-details-title-green-state-day-count > span{
    font-size: 12px;
    color: #23be23;
}
.table-total-state-details-title-red-state-day-count > span{
    font-size: 12px;
    color: #ff8989;
}

.r{
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.wr_m{
    margin-top: 10px;
    height: 100px;
    width: 250px;
}
.card{
    width: 100%;
    height: 60px;
    border: 1px solid red;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0px 10px;

}
.statistic-card {
    display: -webkit-inline-box;
    display: inline-flex;
    width: 100%;
    -webkit-box-pack: justify;
    /* justify-content: space-between; */
    -webkit-box-align: baseline;
    align-items: baseline;
    position: relative;
}
.statistic-card-active {
    border-right: 10px solid blue;
}
.efficiency-line{
    font-size: 11px;
    color: #c7c7c7
}
.efficiency-line-percent{
    color: #8fcb74;
    font-size: 11px;
}
.efficiency-line-percent-bad{
    color: white;
    font-size: 11px;
}
.statistic-card-year{
    font-weight: bold;
    text-decoration: underline;
}
.statistic-card-month{
    color: #4682b4;
    width: 120px;
    font-size: 13px;
    text-decoration: underline;
}
.statistic-card-month-fail{
    font-size: 13px;
    color: #ec7979;
}
.add_filter_option{
    color: white;
    background-color: #245494;
    font-size: 12px;
    border-color: #245494;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    -moz-text-align-last: center;
    text-align-last: center;
    outline: none;
}
.add_filter_option option {
    color: white;
}
.statistic-card-money-block{
    -webkit-box-align: end;
    align-items: flex-end;
    display: -webkit-inline-box;
    display: inline-flex;
    right: 0;
}
.statistic-card-money-block-absolute{
    -webkit-box-align: end;
    align-items: flex-end;
    display: -webkit-inline-box;
    display: inline-flex;
    right: 0;
    position: absolute;
}
.statistic-card-money-number{
    font-size: 12px;
}
.statistic-table-header-total-point-full-title{
    font-size: 12px;
    color: #bdbdbd;
}
.statistic-card-money-block-number{
    font-size: 12px;
}
.statistic-card-money-block-percent{
    font-size: 12px;
    color: #89b2e9;
}
.statistic-card-money-block-percent-bad{
    font-size: 12px;
    color: #ec7979;
}
.display-none{
    display: none;
}
.opacity-0{
    opacity: 0;
}
.skil-info-back-div{
    display: none;
}
.table-total-state-type-point-place{
    width: 100%;
    display: inline-block;
    padding-bottom: 10px;
    padding-top: 10px;
}
.chart-type-point{
    width: 100%;
    height: 70px;
    padding: 10px 0px;
    display: inline-flex;
}
.chart-type-point-img-container{
    display: inline-flex;
    height: 100%;
    width: 90px;
    align-items: center;
    justify-content: center;
}
.chart-type-point-right-container{
    height: 100%;
    width: 100%;
    display: inline-flex;
    padding-right: 15px;
    flex-direction: column;
    justify-content: space-between;
}
.chart-type-point-img{
    height: 50px;
    width: 50px;
    border-radius: 5px;
}
.chart-type-point-percent-container{
    height: 20px;
    width: 100%;
    display: inline-flex;
}
.chart-type-point-percent-container-point {
    text-align: center;
    height: 20px;
    background-color: rgba(63, 72, 204, 1);
    width: 60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.chart-type-point-percent-container-bar{

    height: 20px;
    width: 100%;
    display: inline-block;
    margin-left: 10px;
}
.chart-type-point-percent-container-bar-color{
    height: 100%;
    background-color: rgba(184, 200, 222, 1);
}
.chart-type-point-percent-container-point-text{
    color: #e2e2e2;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 2px;
}
.chart-type-point-title{
    font-size: 12px;
    color: #bdbdbd;
}
.horizontal-place{
    width: 100%;
    height: 20px;
    background: #e8e8e8;
}
.table-total-state-wrapper{
    height: 100%;
}
.skil-list-two-place{
    display: inline-flex;
    flex-direction: row;
    width: 100%;
}
.statistic-table-header-total-point-title-span{
    color: steelblue;
    font-size: 16px;
}
.table-total-state-details-block{
    display: inline-flex;
    flex-direction: column;
    width: 300px;
}
.table-total-state-percent-block{
    display: inline-flex;
    flex-direction: column;
    width: 200px;
}

@media (max-aspect-ratio: 13/9) and (max-height: 1200px){
    .no-element-wrapper{
        display: none;
    }
    .statistic-list-first-element{
        display: none;
    }
    .skil-list{
        overflow-y: hidden;
        min-width: 100%;
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    .statistic-card-month{
        font-size: 20px;
        width: 160px;
    }
    .statistic-card-month-fail{
        font-size: 20px;
        color: #ec7979;
      width: 160px;
    }
    .skil-list-card-container{
        max-height: 120px;
        min-height: 120px;
        height: 120px;
        padding: 20px 20px;
        justify-content: space-around;
    }
    .statistic-card-money-number{
        font-size: 20px;
    }
    .efficiency-line{
        font-size: 18px;
    }
    .efficiency-line-percent{
        font-size: 18px;
    }
    .efficiency-line-percent-bad{
        color: #ec7979;
        font-size: 18px;
    }
    .money-icon-mini {
       display: none;
    }
    .skil-info{
        display: inline-block;
        top: 100VH;
        position: fixed;
        border: solid 1px;
        overflow: hidden;
        height: calc(100VH - 60px);
        width: 100%;
        border-color: #bdbdbd;
        border-top: 0px;
        border-bottom: 0px;
        border-left: 0px;
        -webkit-transition: top 1s;
        transition: top 1s;
        background: #ffffff;
    }
    .skil-info-active{
        top: 60px;
        transition: top 1s;
      overflow-y: scroll;
    }

    .statistic-table-chart-place{
        flex-direction: column;
        padding: 10px;
        height: calc(100% - 70px - 70px);
        width: 100%;
        transition: opacity 1s;
        border-top: 1px solid #c8d4e3;
    }
    .daysChart{
        height: 30%;
        width: 100%;
        padding-bottom: 20px;
    }
    .statistic-table-chart-point-place{
        display: -webkit-inline-box;
        display: inline-flex;
        height: 70%;
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        display: inline-flex;
        justify-content: space-around;
        flex-direction: column-reverse;
    }
    #totalPointChart{
        display: inline-block;
        height: 30%;
        width: 100%;
    }
    .statistic-table-header-total-point-full-title{
        font-size: 16px;
    }
    .statistic-card-money-block-number{
        font-size: 16px;
    }
    .statistic-card-money-block-percent{
        font-size: 16px;
    }
    .statistic-card-money-block-percent-bad{
        font-size: 16px;
        color: #ec7979;
    }
    .r{
        height: 70px;
    }
    .table-total-state{
        height: 140px;
      flex-direction: column-reverse;
      margin-top: 15px;
    }
    .table-total-state-details-title-block{
        font-size: 16px;
    }
    .table-total-state-details-title-green-state-day-count > span{
        font-size: 16px;
    }
    .table-total-state-details-title-red-state-day-count > span{
        font-size: 16px;
    }
    #typePointChart{
        display: inline-block;
        height: 70%;
        width: 100%;
    }
    .c3-legend-item {
        font-size: 16px;
    }
    .skil-info-back-div{
        position: absolute;
        left: 0px;
        padding-left: 20px;
        height: 100%;
        display: inline-flex;
        align-items: center;
        width: 100px;
        background: #f3f3f3;
    }
    .chart-type-point-title {
        font-size: 14px;
    }
  .table-total-state-details-block{
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    height: 70px;
  }
  .table-total-state-percent-block{
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    padding-left: 15px;
    height: 70px;
  }
  .statistic-table-header-total-point-full-right{
    width: 100%;
  }

}

@media (max-aspect-ratio: 13/9) and (min-height: 1201px){
    .no-element-wrapper{
        display: none;
    }
    .statistic-list-first-element{
        display: none;
    }
    .skil-list{
        overflow-y: hidden;
        min-width: 100%;
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    .statistic-card-month{
        font-size: 30px;
      width: 400px;
    }
    .statistic-card-month-fail{
        font-size: 30px;
        color: #ec7979;
      width: 400px;
    }
    .skil-list-card-container{
        max-height: 150px;
        min-height: 150px;
        height: 150px;
        padding: 20px 40px;
        justify-content: space-around;
    }
    .statistic-card-money-number{
        font-size: 30px;
    }
    .efficiency-line{
        font-size: 26px;
    }
    .efficiency-line-percent{
        font-size: 26px;
    }
    .efficiency-line-percent-bad{
        color: #ec7979;
        font-size: 26px;
    }
    .money-icon-mini {
        display: none;
    }
    .skil-info{
        display: inline-block;
        top: 100VH;
        position: fixed;
        border: solid 1px;
        overflow: hidden;
        height: calc(100VH - 90px);
        width: 100%;
        border-color: #bdbdbd;
        border-top: 0px;
        border-bottom: 0px;
        border-left: 0px;
        -webkit-transition: top 1s;
        transition: top 1s;
        background: #ffffff;
    }
    .skil-info-active{
        top: 110px;
        transition: top 1s;
      overflow-y: scroll;
    }

    .statistic-table-chart-place{
        flex-direction: column;
        padding: 10px;
        height: calc(100% - 120px - 120px);
        width: 100%;
        transition: opacity 1s;
        border-top: 1px solid #c8d4e3;
    }
    .daysChart{
        height: 30%;
        width: 100%;
        padding-bottom: 20px;
    }
    .statistic-table-chart-point-place{
        display: -webkit-inline-box;
        display: inline-flex;
        height: 70%;
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        display: inline-flex;
        justify-content: space-around;
        flex-direction: column-reverse;
    }
    #totalPointChart{
        display: inline-block;
        height: 30%;
        width: 100%;
    }
    .statistic-table-header-total-point-full-title{
        font-size: 26px;
    }
    .statistic-card-money-block-number{
        font-size: 26px;
    }
    .statistic-card-money-block-percent{
        font-size: 26px;
    }
    .statistic-card-money-block-percent-bad{
        font-size: 26px;
        color: #ec7979;
    }
    .r{
        height: 120px;
    }
    .table-total-state{
      flex-direction: column-reverse;
      height: 200px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .table-total-state-details-title-block{
        font-size: 26px;
    }
    .table-total-state-details-title-green-state-day-count > span{
        font-size: 26px;
    }
    .table-total-state-details-title-red-state-day-count > span{
        font-size: 26px;
    }
    #typePointChart{
        display: inline-block;
        height: 70%;
        width: 100%;
    }
    .skil-info-back-div{
        position: absolute;
        left: 0px;
        padding-left: 40px;
        height: 100%;
        display: inline-flex;
        align-items: center;
        width: 160px;
        background: #f3f3f3;
    }
    .skil-info-back-div > span {
        font-size: 26px;
    }
    .chart-type-point-title {
        font-size: 26px;
    }
    .chart-type-point{
      height: 90px;
      padding: 0px 0px 20px 15px;
      margin-bottom: 20px;
    }
    .chart-type-point-img{
        height: 70px;
        width: 70px;
        border-radius: 10px;
    }
    .chart-type-point-right-container{
        margin-left: 20px;
    }
    .chart-type-point-percent-container-point-text{
        font-size: 16px;
    }
    .c3-legend-item{
        font: 30px;
    }
  .table-total-state-details-block{
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    height: 110px;
  }
  .table-total-state-percent-block{
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    padding-left: 15px;
    height: 110px;
  }
  .statistic-table-header-total-point-full-right{
    width: 100%;
    height: 110px;
  }
  .statistic-table-header-total-point-title-span{
    font-size: 26px;
  }
}
