
<div class="skil-list-two-place">



    <div class="skil-list" id="skil-list-body">
            <div *ngFor="let card of StatisticCards" [ngClass]="{'skil-list-card-container':true, 'statistic-card-active-current': card.CardIsActive}"  (click)="LoadStat(card)">
                <div class="statistic-card">
                    <span [ngClass]="{'statistic-card-month':card.MoneyCount > 0, 'statistic-card-month-fail':card.MoneyCount == 0,
                                     'statistic-card-year':card.StatisticCardType === card.statisticCardType.Full ||
                                                           card.StatisticCardType === card.statisticCardType.Year}">{{card.Title}}</span>
                    <span *ngIf="card.EfficiencyPercentage > 0" [ngClass]="{'efficiency-line-percent':card.EfficiencyPercentage > 0, 'efficiency-line-percent-bad': card.EfficiencyPercentage == 0}" class="efficiency-line-percent">{{card.EfficiencyPercentage}} %</span>
                    <div class="statistic-card-money-block-absolute">
                        <span class="statistic-card-money-number">{{card.MoneyCount | skilPointConverter}}</span>
                        <span class="money-icon-mini"></span>
                        <span class="money-icon-statistic"></span>
                        <span class="money-icon-statistic-big"></span>
                    </div>
                </div>
            </div>
    </div>

    <div [ngClass]="{'skil-info':true, 'display-none': !ShowCharts, 'skil-info-active': ShowCharts}">
        <div class="r">
            <div class="skil-info-back-div" (click)="ShowCharts = false">
                <span>назад</span>
            </div>
            <div class="statistic-table-header-total-point-full">
                <span class="statistic-table-header-total-point-title-span">{{CurrentStatisticCard.Title}}</span>
            </div>
        </div>




        <div class="table-total-state">
            <div class="table-total-state-details-block">
                <div class="table-total-state-details table-total-state-details-title-green-state">
                    <div class="table-total-state-details-title">
                        <span class="table-total-state-details-title-block">Обучение проводилось</span>
                        <!--  <span class="table-total-state-details-title-block">Самая долгая серия</span>-->
                    </div>
                    <div class="table-total-state-details-title table-total-state-details-title-green-state-day-count" >
                        <span>{{CurrentStatisticCard.TrainingConductedDays}} дн</span>
                        <!-- <span>{{CurrentStatisticCard.LongestSeriesDays}} дн</span>-->
                    </div>
                </div>
                <div class="table-total-state-details table-total-state-details-title-red-state">
                    <div class="table-total-state-details-title">
                        <span class="table-total-state-details-title-block">Обучение не проводилось</span>
                        <!-- <span class="table-total-state-details-title-block">Самый долгий перерыв</span>-->
                    </div>
                    <div class="table-total-state-details-title table-total-state-details-title-red-state-day-count">
                        <span>{{CurrentStatisticCard.NoDaysTraining}} дн</span>
                        <!--<span>{{CurrentStatisticCard.LongestBreakDays}} дн</span>-->
                    </div>
                </div>
            </div>
            <div class="table-total-state-percent-block">
                <div class="statistic-table-header-total-point">

                    <div class="statistic-table-header-total-point-full">
                        <span class="statistic-table-header-total-point-full-title">Mонет опыта</span>
                        <span class="statistic-table-header-total-point-full-title">Эффективность</span>
                    </div>
                    <div class="statistic-table-header-total-point-full-right">
                        <div class="statistic-card-money-block">
                            <span class="statistic-card-money-block-number">{{CurrentStatisticCard.MoneyCount}}</span>
                            <span class="money-icon-mini"></span>
                        </div>

                        <span [ngClass]="{'statistic-card-money-block-percent':CurrentStatisticCard.EfficiencyPercentage > 29, 'statistic-card-money-block-percent-bad': CurrentStatisticCard.EfficiencyPercentage <= 29 }">{{CurrentStatisticCard.EfficiencyPercentage}} %</span>
                    </div>
                    <div>
                    </div>
                </div>
            </div>

          </div>

    <div class="table-total-state-wrapper">

        <div class="table-total-state-type-point-place">

            <div class="chart-type-point" *ngFor="let totalPoint of TotalPointSkillModels; let i = index">
                <div class="chart-type-point-img-container">
                    <img class="chart-type-point-img" src="{{totalPoint.PathToIcon}}" />
                </div>
                <div class="chart-type-point-right-container">
                    <span class="chart-type-point-title">
                        {{totalPoint.Title}}
                    </span>
                    <div class="chart-type-point-percent-container">
                        <div class="chart-type-point-percent-container-point">
                            <span class="chart-type-point-percent-container-point-text">{{totalPoint.MoneyCount}}</span>
                        </div>
                        <div class="chart-type-point-percent-container-bar">
                            <div [style.width]="totalPoint.TotalPercent+'%'"  class="chart-type-point-percent-container-bar-color">

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

          <div [ngClass]="{'statistic-table-chart-place': true, 'opacity-0': DataIsLoading}"  class="statistic-table-chart-place">
              <div id="daysChart-div" class="daysChart">
                  <div id="daysChart" ></div>
              </div>
              <div id="typePointChart"></div>


          </div>

             </div >
         </div >

         <div *ngIf="!ShowCharts" class="no-element-wrapper">
             <span class="no-element-wrapper-big-logo">SkillSite</span>
         </div>



</div>
